@import "vars"

.InformationBlock
    position: relative
    width: 100%

    > .layout
        position: relative
        width: 100%
      
        > .section1
            position: relative
            width: 100%
            display: flex
            flex-direction: column
            margin-bottom: 4rem
            padding-left: 4.5rem
            box-sizing: border-box
          
            @include mobile-tablet
                flex-direction: column
                padding-left: 3.5rem
                margin-bottom: 2rem

            @include mobile
                padding-left: 1.5rem

            > .subTitle
                color: #5D6D80

            > .imageContainer
                display: flex
                justify-content: center

                @include mobile
                    width: 100%

                    > picture
                        > img
                            width: 100%

            > .btnList
                margin-top: 4rem
                display: flex
                justify-content: center

                @include mobile
                    flex-direction: column

                > .btn
                    width: 20%
                    height: 70px
                    margin-right: 60px
                    text-align: center
                    border: none
                    box-sizing: border-box

                    @include mobile-tablet
                        width: 30%
                        height: 70px

                    @include mobile
                        width: 100%
                        margin: 0 0 1rem 0

                    &:nth-child(2)
                        background: #679C9E

                    &:nth-child(3)
                        background: #5D6D80
                                  
        