@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .top
      position: relative
      display: flex
      justify-content: space-between
      
      @include mobile-tablet
        flex-direction: column-reverse
  
      > .left
        width: 49.65%
        position: relative
        padding: 2.5rem 4rem
        box-sizing: border-box
        background-color: $dark-5
    
        @include mobile-tablet
          width: 100%
          padding-right: 2rem
          padding-left: 2rem
  
          
        > .list
          margin: 2rem 0 3rem 1.5rem
          position: relative
          
          p
            position: relative
            margin-bottom: .7rem
            
            &:after
              content: ""
              position: absolute
              left: -1.3rem
              top: .45rem
              width: 3px
              height: 3px
              border-radius: 50%
              background-color: $white
          
        > h3
          margin-bottom: 1.5rem
    
        > p
          margin-bottom: 1.5rem
          
      > .right
        width: 49.65%
    
        @include mobile-tablet
          width: 100%
    
        > .image
          width: 100%
          height: 100%
        
    > .bottom
      position: relative
      display: flex
      margin-top: 2rem
      padding: 0 4rem
      box-sizing: border-box
  
      @include mobile-tablet
        flex-wrap: wrap
        
      @include mobile
        padding: 0
      
      > .item
        width: calc(100% / 3)
        position: relative
        box-sizing: border-box
        padding: 0 1.8rem 0 2rem
  
        @include mobile-tablet
          width: 50%
          margin-bottom: 3rem
          padding-right: .5rem
          padding-left: 2.9rem
          
          &:first-of-type
            padding-left: 2rem
        
        &:last-of-type
          @include mobile-tablet
            padding-right: 1rem
            padding-left: 2rem
            
          @include mobile
            padding-right: .5rem
        
        @include mobile
          padding-left: 2rem
          padding-right: .5rem
        
        > .header
          position: relative
          width: 100%
          padding: .3rem 0
          box-sizing: border-box
          margin-bottom: 2rem
          
          > .line
            position: absolute
            left: -2rem
            top: 0
            width: .25rem
            height: 100%
            background-color: $red-2
            
        > .list
          position: relative
          
          p
            margin-bottom: 1.5rem
