@import "vars"

$menuTransitionSpeed: .2s

.Header
  position: relative
  display: flex
  width: 100%
  height: $headerHeight

  @include tablet
    height: $headerHeightTablet

  @include mobile
    height: $headerHeightMobile

  > .layer
    position: absolute
    z-index: 0
    width: 100%
    height: 100%
    opacity: 0
    background: linear-gradient(to right, $dark, $dark-2, $dark)
    transition: .2s

    @include mobile-tablet
      background: linear-gradient(to right, $dark, $dark-2)

  > .layout
    position: relative
    display: flex
    width: 100%
    padding: 2rem calc(#{$contentHorizontalPadding} - .5rem) 2rem $contentHorizontalPadding
    box-sizing: border-box

    @include desktopSmall
      padding: 2rem calc(#{$contentHorizontalPaddingSmall} - .5rem) 2rem $contentHorizontalPaddingSmall

    @include tablet
      padding: 1rem calc(#{$contentHorizontalPaddingTablet} - .5rem) 1rem $contentHorizontalPaddingTablet

    @include mobile
      padding: 1rem calc(#{$contentHorizontalPaddingMobile} - .5rem) 1rem $contentHorizontalPaddingMobile

    > .left, & > .center, & > .right
      position: relative
      display: flex

    > .left
      width: 10%

      @include mobile-tablet
        width: 50%

    > .center
      width: 69%
      box-sizing: border-box

    > .right
      width: 21%
      align-items: center
      justify-content: flex-end

      @include mobile-tablet
        width: 50%

      > .search
        width: 16rem

      > .menuButton
        margin-left: 2rem

  &.withBackground
    > .layer
      opacity: 1
      transition: .2s

  > .sideMenu
    position: absolute
    right: 0
    top: $headerHeightTablet
    width: 40%
    height: auto
    min-height: 20vh
    transform: translate3d(33%, 0, 0)
    opacity: 0
    background: $dark
    transition: $menuTransitionSpeed

    @include tablet
      max-height: calc(100vh - #{ $headerHeightTablet })

    @include mobile
      top: $headerHeightMobile
      width: calc(100% - 8rem)
      height: calc(100vh - #{ $headerHeightMobile })

    &.opened
      transform: translate3d(0, 0, 0)
      opacity: 1
      transition: $menuTransitionSpeed

    > .layout
      position: relative
      width: 100%
      height: auto
