@import "vars"

.MediaCard
  position: relative
  height: auto

  > .layout
    position: relative
    width: 100%
    height: 34rem
    background: $white
    border-radius: #{$elementsRadius * 4} #{$elementsRadius * 4} 0 0
    
    @include mobile-tablet
      height: 38rem

    > .top
      position: relative
      width: 100%
      height: 47%
      
      @include mobile-tablet
        height: 52%

      > .type
        position: absolute
        z-index: 2
        width: auto
        height: 1.5rem
        top: -1px
        left: 50%
        transform: translateX(-50%)
        border-radius: 0 0 #{$elementsRadius * 2} #{$elementsRadius * 2}
        display: flex
        align-items: center
        justify-content: center
        background: $white
        border: 1px solid $lightGrey-2
        border-top: 1px solid $white

      > .image
        position: absolute
        z-index: 1
        width: 100%
        height: 100%
        border-radius: #{$elementsRadius * 4} #{$elementsRadius * 4} 0 0
        border: 1px solid $lightGrey-2

      > .imageLabel
        position: absolute
        z-index: 2
        width: 100%
        bottom: 0
        background: linear-gradient(to top, rgba($black, 100%), rgba($black, 0%))

    > .center
      position: relative
      width: 100%
      height: 30%
      
      @include mobile-tablet
        height: 30%

      > .date
        margin-top: 3rem
        bottom: 0

    > .bottom
      bottom: 0
      width: 100%
      height: 18%
  
      @include mobile-tablet
        height: 18%

      > .author
        position: relative
        width: 100%
        height: 100%

      > .actions
        display: inline-block
        
  &.isFeaturedPreview
    > .layout
      height: 40rem
  
      @include tablet
        height: 38rem
      
      > .top
        height: 47.5%
        
      > .center
        height: 30%
        
      > .bottom
        height: 10%
        
