@import "vars"

.InformationBlock
  position: relative
  width: 100%
  margin-bottom: 5rem

  > .layout
    position: relative
    width: 100%

    > .topImage
      width: 100%
      height: 300px
      
      > img
        width: 100%
        height: 100%
        object-fit: cover
            
    > .section1
      position: relative
      display: flex
  
      @include mobile-tablet
        display: block
        margin-top: 2.5rem
      
      > .left
        width: 50%
        position: relative
        background: $dark-5
        padding: 3rem 4.2rem 3.5rem 3.5rem
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding-right: 3.8rem
          
        @include mobile
          padding-right: 2rem
          padding-left: 2rem
        
        > .footer
          width: 100%
          
          > .item
            position: relative
            width: 100%
            display: flex
            align-items: center
          
            > .icon
              position: relative
              width: 2rem
              height: 2rem
              border-radius: 50%
              background: $red-2
              display: flex
              align-items: center
              justify-content: center
              margin-right: 1.5rem

              
      > .right
        width: 50%
        padding: 3rem 0 0 0
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding-left: 3.5rem
          
        @include mobile
          padding-left: 0
          padding-right: 0

        > h3
          margin-left: 4.5rem
        
        > .list
          position: relative
        
          > p
            position: relative
            line-height: 1.35rem
            margin: 0
            padding-left: 4.5rem
            padding-bottom: 2rem
            padding-top: 2rem
            border-bottom: 1px solid $greyBlue
            &:nth-child(7)
              border: none
            &:nth-child(14)
              border: none

    > .section2
        position: relative
        width: 100%
        box-sizing: border-box
        padding: 3rem 4.2rem 0 3.5rem

        > .subTitle
            color: #5D6D80

        > .list
            display: flex

            @include mobile
              flex-direction: column

            @include mobile-tablet
              flex-direction: column

            > .block
                width: 33.33%
                display: flex

                @include mobile-tablet
                    width: 100%
                    padding-bottom: 1rem

                > .line
                    width: 5px
                    height: 2.5rem
                    background: $red-4

                    @include mobile-tablet
                      margin-right: 2rem
                      height: 2rem

                    @include mobile-tablet
                      margin-right: 0rem
                      height: 2.5rem

                > .content
                    @include mobile
                        width: 90%

                    > .title
                        width: 18.5rem

                        @include mobile-tablet
                          width: 100%

                        @include mobile
                          width: 100%

                    > .text
                        width: 18.5rem

                        @include mobile-tablet
                          width: 100%

                        @include mobile
                          width: 100%
    
    > .section3
        position: relative
        width: 100%
        box-sizing: border-box
        padding: 3rem 4.2rem 6.5rem 3.5rem

        > .subTitle
            color: #5D6D80

        > .list
            display: flex
            flex-wrap: wrap

            @include mobile
              flex-direction: column
              flex-wrap: nowrap

            @include mobile-tablet
              flex-direction: column
              flex-wrap: nowrap

            > .block
                width: 50%
                margin-bottom: 3rem
                padding-right: 3rem
                display: flex
                box-sizing: border-box

                @include mobile-tablet
                  width: 100%

                @include mobile
                  width: 100%
                  padding-right: 2rem

                > .line
                    width: 5px
                    background: $red-4

                > .content
                    display: flex
                    flex-direction: column
                    justify-content: space-between

                    @include mobile-tablet
                      width: 100%

                    @include mobile
                      width: 90%
                    
                    > picture
                        > img
                          max-width: 400px
                          width: 100%

                    > .top

                        @include mobile-tablet
                          width: 100%

                        @include mobile
                          width: 100%

                        > .title
                            font-size: 4.5rem

                    > .bottom
                        width: 20rem

                        @include mobile-tablet
                          width: 100%

                        @include mobile
                          width: 100%

                        > .title
                            font-size: 2.5rem
                            color: #5D6D80

                        > .text
                            margin: 0
                        
            > .blockWithoutImage
                width: 100%
                padding-left: calc(2rem + 5px)
                padding-bottom: 3.5rem

                > .title
                    font-size: 2.5rem
                    color: #5D6D80

                > .text
                    margin: 0

    > .section4
        position: relative
        width: 100%
        box-sizing: border-box
        padding: 3rem 4.2rem 0 3.5rem


        > .content
            display: flex

            @include mobile-tablet
              flex-direction: column

            > .imageContainer
                width: 35%
                height: 100%

                @include mobile-tablet
                  width: 100%
                  height: 100%

            > .listContainer
                width: 65%

                @include mobile-tablet
                  width: 100%
                  margin-left: 0
                  padding-top: 4rem

                > .itemContainer
                    display: flex
                    align-items: center

                    > .date
                        width: 100px
                        box-sizing: border-box

                    > .country
                        width: calc(100% - 126px)
                        min-height: 100px
                        border-left: 1px solid $greyBlue
                        border-bottom: 1px solid $greyBlue
                        border-right: none
                        display: flex
                        align-items: center
                        box-sizing: border-box

                        &:nth-child(8)
                          border-bottom: none
                          