@import "vars"

.RelatedProperties
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .heading
      position: relative
      display: flex
      align-items: center

      @include tablet
        padding: 0
        justify-content: center

      @include mobile
        padding: 0
        justify-content: center

    > .carousel
      position: relative
      width: 100%
