@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .top
      position: relative
      width: 100%
      display: flex

      @include mobile-tablet
        flex-direction: column
        padding-bottom: 2rem

      > .imageBox
          width: 50%

          @include mobile-tablet
            width: 100%
            padding: 1rem 4rem 0 4rem
            box-sizing: border-box

          @include mobile
            padding-left: 2rem
            padding-right: 2rem


      > .left
        width: 50%
        position: relative
        padding: 1.5rem 5rem 0 4rem
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding-right: 4.5rem
          
        @include mobile
          padding-top: 0
          padding-right: 2rem
          padding-left: 2rem
        
        > p
          margin-bottom: 1.5rem
      
      > .image
          width: 50%
          height: 29rem
    
          @include mobile-tablet
            height: 27rem
        
      > .wrapper
        position: absolute
        top: 0
        left: 4rem

        @include mobile-tablet
          width: auto
          
        @include mobile
          left: 2rem
          
        > .logo
          width: 10.5rem
  
          @include mobile-tablet
            width: 7rem
          
        > .tag
          margin-top: .35rem
          width: 10.5rem
          background-color: $greyBlue
          padding: .5rem .5rem 1.1rem 1rem
          box-sizing: border-box
          border-bottom: .4rem solid $red-3
  
          @include mobile-tablet
            width: 13.5rem
            padding: .8rem .5rem 1.8rem 1.5rem
            border-bottom-width: .5rem
            
          @include mobile
           width: 14.5rem
          
      > .line
        width: 100%
        height: .8px
        background: $black
        margin: 1rem 0 4rem
  
        @include mobile-tablet
          margin-bottom: 2rem
        
    > .bottom
      position: relative
  
      @include mobile-tablet
        display: block
      
      > .left
        width: 50%
        position: relative
        padding: .45rem 2rem 0 4rem
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding-right: 4.5rem
          
        @include mobile
          padding-right: 2rem
          padding-left: 2rem
        
        > p
          margin-bottom: 1.5rem
          
      > .right
        width: 100%
        padding: 0 8rem 0 4rem
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding-left: 4rem
          padding-right: 4.5rem
          
        @include mobile
          padding-left: 2rem
          padding-right: 2rem
          
        > h3
          margin-bottom: 1.4rem
          color: #5D6D80
        
        > .list
          position: relative
        
          > p
            position: relative
            margin-bottom: 1.5rem
