@import "vars"

.ContactBanner
  position: relative
  width: 100%

  > .layout
    position: relative
    display: flex
  
    @include mobile-tablet
      display: block
  
    > .left
      width: calc(80% - .5rem)
      margin-right: .5rem
      position: relative
    
      @include mobile-tablet
        width: 100%
    
      > .line
        width: 100%
        height: 1px
        background: $black
        margin-top: 1rem
    
      > .wrapper
        position: relative
        width: 80%
        padding: 1.2rem 4rem 0
      
        @include mobile
          left: 2rem
  
    > .right
      width: 20%
      padding: 1.8rem 2rem 1.8rem 1.5rem
      box-sizing: border-box
      background-color: $red-2
      height: 14.5rem
    
      @include mobile-tablet
        width: 50%
        height: 100%
        padding: 2.5rem 5.5rem 3rem 4rem
    
      @include mobile
        padding: 1.5rem 2rem 2rem
    
    
      > p
        &:first-of-type
          margin-bottom: .5rem
    
    
      > a
        > div
          width: 30%
          margin-top: 1.5rem
        
          @include mobile-tablet
            margin-top: 4rem
        
          @include mobile
            margin-top: 3rem
