@import "vars"

.InformationBlock
    position: relative
    width: 100%

    > .layout
        position: relative
        width: 100%
    
        > .section1, .section2, .section3
            position: relative
            width: 100%
            margin-bottom: 4rem
            box-sizing: border-box
      

            