@import "vars"

$animationDuration: .4s
$animationPulseDuration: 1s

.Accordion
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    display: flex
    justify-content: space-between

    @include mobile-tablet
      flex-direction: column
      justify-content: unset

    > .item
      position: relative
      width: calc(18% - 0.25rem)
      height: 24rem
      background: $white
      transition: $animationDuration

      @include mobile-tablet
        width: 100%
        height: 4rem

        &:not(:last-of-type)
          margin-bottom: .5rem

      > .layout
        position: relative
        width: 100%
        height: 100%

        @include mobile-tablet
          padding-top: 1rem
          padding-bottom: 1rem

        > .top
          position: relative
          width: auto
          height: 2rem
          display: inline-block

          > .line
            position: absolute
            width: 100%
            height: 1px
            background: $red-2

        > .center
          position: relative
          width: 100%
          height: calc(100% - 2rem)

          @include mobile-tablet
            height: 100%
            margin-top: 0
            margin-bottom: 0

          > .line
            position: absolute
            width: 4px
            height: 2rem
            top: 0
            left: 0
            background: $red-2
            transition: $animationDuration

          > h4
            line-height: 1.75rem

          > .content
            position: relative
            height: calc(100% - 2.75rem)
            opacity: 0
            transform: translate3d(1rem, 0, 0)
            transition-duration: calc(#{ $animationDuration } / 4)

            > .info
              display: flex
              flex-direction: row
              flex-wrap: wrap

              > .infoItem
                width: 50%

            > .contactContainer
              display: flex
              flex-direction: column
              align-items: center
              justify-content: center
              height: calc(100% - 1rem)

              > .contactButton
                width: 7rem
                background-color: $red-2
                border-color: $red-2
                padding: .625rem 1.5rem
                font-size: 1rem

            > .shareContainer
              position: relative
              display: flex

              > .left, & > .right
                position: relative

              > .left
                width: 30%

                @include tablet
                  padding-left: 1rem
                  padding-right: 2rem

                @include mobile
                  padding-left: 0
                  padding-right: 1rem

                > .shareActive
                  color: $red-2

              > .right
                position: absolute
                top: -4rem
                right: 0
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-between
                height: 120%
                width: 70%

                @include desktopSmall
                  right: -2rem

                @include mobile-tablet
                  display: flex
                  justify-content: space-between
                  flex-wrap: wrap
                  top: -3rem

                @include tablet
                  padding-left: 8%
                  padding-right: 12%

                @include mobile
                  padding-right: 0

              p
                transition: .2s

                @include mobile-tablet
                  //padding-left: 1rem
                  box-sizing: border-box

                &:hover
                  color: $red
                  transition: .2s

            > .map
              height: 100%
              
              @include tablet
                height: 22rem
              
              @include mobile
                height: 18.5rem

        > .bottom
          position: absolute
          right: 2rem
          bottom: 0
          opacity: 1
          display: flex
          align-items: center
          transition: $animationDuration

          @include mobile-tablet
            top: 1rem
            bottom: unset
            right: 1rem

          > .icon
            position: relative
            width: 2rem
            height: 2rem
            border-radius: 50%
            background: $red-2
            display: flex
            align-items: center
            justify-content: center
            
            &.animated:after
              content: ""
              position: absolute
              width: 2rem
              height: 2rem
              top: 0
              left: 0
              border-radius: 50%
              box-shadow: 0 0 0 0 rgba($white, .4)
              animation-duration: $animationPulseDuration
              animation-name: pulse
              animation-iteration-count: infinite
              animation-timing-function: ease-in-out

      &.expanded
        width: calc(46% - 0.25rem)
        transition: $animationDuration

        @include mobile-tablet
          width: 100%
          height: 100%

        > .layout
          > .center
            > .line
              height: 10rem
              transition: $animationDuration

              @include mobile-tablet
                height: 100%

            > .content
              opacity: 1
              transform: translate3d(0, 0, 0)
              transition-delay: $animationDuration
              transition-duration: $animationDuration

          > .bottom
            transform: translate3d(-1rem, 0, 0)
            opacity: 0
            transition: calc(#{ $animationDuration } / 2)

  .shareButton
    width: 7rem
    background-color: $red-2
    border-color: $red-2
    padding: .625rem 1.5rem
    font-size: 1rem

    @include mobile-tablet
      padding: .5rem 1.5rem
      font-size: 1.15rem

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba($red, .2)
  50%
    box-shadow: 0 0 0 8px rgba($red, .2)
  100%
    box-shadow: 0 0 0 0 rgba($red, .2)
