@import "vars"

.EmailAlertsForm
  display: flex
  flex-direction: row

  @include mobile-tablet
    flex-direction: column

  > .left
    width: 50%

    @include mobile-tablet
      width: 100%
      margin-bottom: 1rem

    > .text
      width: 50%
      margin-left: auto

  > .right
    display: flex
    flex-direction: column
    width: 50%

    @include mobile-tablet
      width: 100%

    > .button
      align-self: flex-end
