@import "vars"

.PropertyCardSlider
  height: 100%

  > .slickSlider
    height: 100%

    :global(.slick-list), & :global(.slick-track), & :global(.slick-slide) > div
      height: 100%

    :global(.slick-dots)
      bottom: -12px

      > li
        width: 12px
        height: 12px
        margin: 0 2px

        > button
          width: 12px
          height: 12px

          &:hover::before
            color: $red

      :global(.slick-active)
        button::before
          color: $red

      :global(:not(.slick-active))
        button::before
          opacity: 0.25

  > .sliderControls
    position: absolute
    top: 50%
    transform: translateY(-50%)

    &.left, &.right
      width: 2.5rem
      height: 2.5rem
      border-radius: 50%
      background: rgba($white, .47)
      display: flex
      align-items: center
      justify-content: center
      transition: .2s

      @include tablet
        width: 3.5rem
        height: 3.5rem

      @include mobile
        width: 3rem
        height: 3rem

      @include desktop
        &:hover
          box-shadow: 0 0 0 6px rgba($white, .4)
          transition: .2s

        &:active
          box-shadow: 0 0 0 3px rgba($white, .4)
          transition: .1s

    &.left
      left: .5rem

    &.right
      right: .5rem

  .item
    height: 100%
    position: relative

    > .imageWrapper
      position: relative
      width: 100%
      height: 100%
