@import "vars"

.MissionEmailSubscription
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

    @include mobile-tablet
      align-items: flex-start
      flex-direction: column

    @include mobile
      padding-left: 4rem
      padding-right: 4rem

    > .left, & > .right
      position: relative

    > .left
      width: 47.5%

      > .text
        padding-left: 50%

        @include mobile-tablet
          padding-left: 0
          padding-right: 40%

      @include desktop
        > h3
          padding-left: 6rem

      @include mobile-tablet
        width: 55%

      @include mobile
        width: 100%

    > .right
      width: 40%
      display: flex
      align-items: flex-end
      justify-content: space-between

      @include mobile-tablet
        width: 100%
        margin-top: 1rem
        padding-left: 30%

      @include mobile
        margin-top: 2rem
        padding-left: 0
