@import "vars"

.NavigationButtons
  position: relative
  width: 100%
  height: 2rem
  display: flex
  align-content: center

  > .previous, & > .next
    position: absolute
    max-width: 45%
    height: 100%
    top: 0
    display: flex
    align-items: center

  > .previous
    left: 0

  > .next
    right: 0
