@import "vars"

.BlogSearchBar
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .form
      position: relative
      display: grid
      grid-template-columns: calc(40% - .5rem) calc(40% - .5rem) 20%
      grid-gap: 1rem
      align-items: center
  
      @include mobile
        grid-template-columns: calc(50% - .5rem) calc(50% - .5rem)
