@import "vars"

.InformationBlock
    position: relative
    width: 100%

    > .layout
        position: relative
        width: 100%
    
        > .section1
            position: relative
            width: 100%
            display: flex
            box-sizing: border-box

            @include mobile-tablet
                flex-direction: column

            > .left
                width: 50%
                padding: 1.5rem 2rem 0 4rem
                box-sizing: border-box

                @include mobile-tablet
                    width: 100%

                @include mobile
                    padding-left: 2rem
                    padding-right: 2rem

                > p
                    position: relative
                    line-height: 1.35rem
                    padding-left: 3rem
                    margin: 0 0 .5rem 0

                    &:nth-child(3)
                        &:after
                            display: none

                    @include mobile-tablet
                        padding-left: 1.5rem

                    @include mobile
                        padding-left: 1.5rem
                
                    &:after
                        content: ""
                        position: absolute
                        left: -0rem
                        top: .6rem
                        width: 3px
                        height: 3px
                        border-radius: 50%
                        background-color: $black

            > .right
                width: 50%

                @include mobile-tablet
                    width: 100%
                    padding: 2rem 4rem 0 4rem
                    box-sizing: border-box

                @include mobile
                    padding-left: 2rem
                    padding-right: 2rem