@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      display: flex
      box-sizing: border-box
      
      @include mobile-tablet
        flex-direction: column
        padding: 0
      
      > .left
        width: 50%
        box-sizing: border-box
        background: $dark-5

        > .title
            margin: 0
        
        > .text
            color: #fff
  
        @include mobile-tablet
          width: 100%
          padding: 1rem 4rem
          
          
        @include mobile
          padding: 0 2rem
          
          
        p
          margin-bottom: 1.5rem
          
      > .right
        width: 50%
        // overflow: hidden
        // position: relative
        box-sizing: border-box
        background: $greyBlue
  
        > .block
            width: 100%
            height: 7rem
            display: flex
            align-items: center

            @include mobile-tablet

            > .titleBox
                width: 35%

                > .title
                    margin: 0

            > .text
                width: 65%

            &:nth-child(even)
                background: white
  
        @include mobile-tablet
            width: 100%

    > .section2
        position: relative
        width: 100%
        box-sizing: border-box
        background: $grey-2
        
        @include mobile-tablet
            display: flex
            flex-direction: column
            padding-left: 0
      
        > .title
            margin-left: 4rem

        > .block
            display: flex

            @include mobile-tablet
                width: 100%
                padding: 0
                padding-bottom: 4rem
                margin-top: 0
            
            @include mobile

            p
                margin-bottom: 1.5rem

            > .left
                width: 50%

                > .list
                    position: relative
                    
                    > p
                        position: relative
                        line-height: 1.35rem
                        padding-left: 3rem
                        margin: 0 0 .2rem
                    
                        &:after
                            content: ""
                            position: absolute
                            left: -0rem
                            top: .6rem
                            width: 3px
                            height: 3px
                            border-radius: 50%
                            background-color: $black

            
            > .right
                width: 50%

                > .list
                    position: relative
                    
                    > p
                        position: relative
                        line-height: 1.35rem
                        padding-left: 3rem
                        margin: 0 0 .2rem
                    
                        &:after
                            content: ""
                            position: absolute
                            left: -0rem
                            top: .6rem
                            width: 3px
                            height: 3px
                            border-radius: 50%
                            background-color: $black

    > .section3
        display: flex
        flex-wrap: wrap

        @include mobile-tablet
            flex-wrap: wrap

        @include mobile
            display: block
        
        > .block
            width: 33.33%
            height: 430px
            padding: 1.25rem 4rem 2.5rem 4rem
            background: #E4E7E9

            @include mobile-tablet
                width: 50%
                background: $grey-2

                &:nth-child(6)
                    > .content
                        > .stats
                            > .title
                                letter-spacing: normal

            @include mobile
                width: 100%

            &:nth-child(odd)
                background: $grey-2

            &:nth-child(6)
                > .content
                    > .stats
                        > .title
                            letter-spacing: -2px

            > .title
                margin-top: 0
                margin-left: calc(2rem + 5px)


            > .content
                width: 100%
                height: calc(100% - 21px - 2rem)
                display: flex

                > .line
                    width: 5px
                    height: 100%
                    background: $red-4

                    @include mobile-tablet

                > .stats
                    width: 100%
                    height: 100%
    