@import "vars"

$listHorizontalPadding: 7.5%

.RelatedPropertiesCarousel
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .list
      position: relative
      display: flex
      padding-left: $listHorizontalPadding
      padding-right: $listHorizontalPadding

      @include mobile-tablet
        padding-left: 0
        padding-right: 0

      > .item
        width: calc(100% / 3)

    \:global
      .slickSlider
        padding-left: $listHorizontalPadding
        padding-right: $listHorizontalPadding

        @include mobile-tablet
          padding-left: 0
          padding-right: 0

    .item
      position: relative
      height: auto

      @include mobile
        padding: 1rem .25rem

      > a

        > .layout
          position: relative
          width: 100%
          height: 32rem
          background: $greyBlue-2

          > .top
            position: relative
            width: 100%
            height: 55%

            &:after
              content: ""
              position: absolute
              top: 100%
              left: 2rem
              width: 0
              height: 0
              border-left: 1.25rem solid transparent
              border-right: 1.25rem solid transparent
              border-top: 1.25rem solid $black

            > .label
              position: absolute
              z-index: 2
              width: auto
              height: 1.5rem
              top: -0.75rem
              left: 50%
              transform: translateX(-50%)
              border-radius: $elementsRadius
              display: flex
              align-items: center
              justify-content: center
              background: $greyBlue-2

            > .image
              position: absolute
              z-index: 1
              width: 100%
              height: 100%

            > .imageLabel
              position: absolute
              z-index: 2
              width: 100%
              bottom: 0
              background: linear-gradient(to top, rgba($black, 100%), rgba($black, 0%))

          > .bottom
            position: relative
            width: 100%
            height: 45%

            > .info
              position: relative
              width: 100%
              display: flex
              flex-wrap: wrap
              justify-content: space-between

              > .el
                position: relative
                width: 47.5%
                margin-bottom: 1rem

                &, & > *
                  display: flex
                  align-items: center

    > .sliderControls
      position: absolute
      top: calc(50% - 3rem)

      @include mobile-tablet
        top: calc(50% - 4rem)

      &.left, &.right
        width: 3.5rem
        height: 3.5rem
        border-radius: 50%
        background: $red
        display: flex
        align-items: center
        justify-content: center
        transition: .2s

        @include tablet
          width: 4.5rem
          height: 4.5rem

        @include mobile
          width: 4rem
          height: 4rem

        @include desktop
          &:hover
            box-shadow: 0 0 0 6px rgba($white, .4)
            transition: .2s

          &:active
            box-shadow: 0 0 0 3px rgba($white, .4)
            transition: .1s

      &.left
        left: 7%

        @include tablet
          left: 10.5rem

        @include mobile
          left: 3.25rem

      &.right
        right: 7%

        @include tablet
          right: 10.5rem

        @include mobile
          right: 3.25rem
