@import "vars"

.NewsPostScene
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 12rem
        padding-right: 12rem
  
      @include tablet
        padding-left: 4.5rem
        padding-right: 4.5rem
  
      @include mobile
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
      
      > .searchBar
        position: relative
        width: 100%
        
        @include mobile-tablet
          padding-right: 1rem
    
    > .section2
      position: relative
      width: 100%
  
      @include tablet
        padding-left: 5.5rem
        padding-right: 5.5rem
  
      @include mobile
        padding-left: 3rem
        padding-right: 3rem
      
      > .search
        position: relative
        z-index: 2
      
      > .results
        position: relative
        z-index: 1
        width: calc(100% - 9.5rem)
        
        @include mobile-tablet
          width: 100%
          
    > .section3
      @include tablet
        padding-left: 1.5rem
        padding-right: 1.5rem
    
      @include mobile
        padding-left: 1rem
        padding-right: 1rem
