@import "vars"

.InformationBlock
  background: $white

  > .layout
    border-left: 7px solid $red-2
    height: 180px

    @include mobile
      padding-right: 2rem
      height: 22rem
      border-left: none

    > .title
      position: relative

      @include mobile
        padding-left: 1rem
        margin-bottom: 3rem
        font-size: 1.8rem

      &:before
        position: absolute
        content: ''
        top: -2rem
        left: 0
        width: 1.5rem
        border-bottom: 2px solid $red-2

        @include mobile
          border-bottom: none
          width: 0
          left: -2rem
          top: -5rem
          height: 15rem
          border-left: 7px solid $red-2

    > .content
      display: flex

      @include mobile
        flex-wrap: wrap
        justify-content: space-between

      > .shareContent
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        margin: auto
        width: 40%

        @include mobile
          width: 60%

      > .backButton
        position: absolute
        right: 4.5rem
        top: 1rem
        display: flex
        align-items: center

        @include mobile-tablet
          right: 2rem

        > .icon
          width: 2rem
          height: 2rem
          border-radius: 50%
          background: $dark-3
          display: flex
          align-items: center
          justify-content: center

      > .item
        width: 25%
        padding-left: 1.5rem
        border-left: 7px solid $red-2

        @include mobile
          width: 42%
          padding-right: .5rem
          padding-left: 1rem
          margin-bottom: 2rem
          padding-bottom: 0

          > .itemTitle
            margin-top: 0

          &:nth-child(1)
            order: 1
          &:nth-child(2)
            order: 3
            margin-left: -2rem
            padding-left: 2.5rem
          &:nth-child(3)
            order: 2
          &:nth-child(4)
            order: 4

        &:first-child
          border-left: none

        > .share
          display: flex
          align-items: center

  .shareButton
    background-color: $red-2
    border-color: $red-2
    padding: .625rem 2rem
    font-size: 1rem

    @include mobile-tablet
      padding: .5rem 1.5rem
      font-size: 1.15rem

  .shareLinkWrapper
    width: 100%

    > .shareLink
      color: #0088FF
      min-width: 0
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
