@import "vars"

.Footer
  position: relative
  width: 100%
  height: auto

  > .layer
    position: absolute
    z-index: 0
    width: 100%
    height: 100%
    background: radial-gradient(circle, $dark-2, $dark)
    transition: .2s

  > .layout
    position: relative
    width: 100%
    height: auto
    box-sizing: border-box

    > .top, & > .bottom
      position: relative
      display: flex

    > .top
      justify-content: flex-start
      width: 14%

      @include mobile-tablet
        justify-content: flex-start
        width: 100%

    > .bottom
      @include mobile
        flex-direction: column
        padding-top: 1rem
        padding-bottom: 0

      & > .left, & > .center, & > .right
        position: relative
        display: flex

      > .left
        width: 30%
        justify-content: flex-start

        @include tablet
          width: 52.5%
          margin-right: 2.5%

        @include mobile
          width: 100%
          padding-left: 0

        > .socials
          position: absolute
          width: 100%
          align-self: flex-end
          bottom: 0

      > .center
        display: flex
        justify-content: space-between
        width: 52.5%
        box-sizing: border-box

        @include mobile-tablet
          flex-direction: column
          justify-content: normal
          width: 45%

          > .content:first-of-type
            margin-bottom: 2rem

        @include mobile
          width: 100%
          margin: 2rem 0

      > .right
        width: 17.5%
        align-items: center
        justify-content: flex-end

        @include mobile
          width: 100%
          justify-content: center
          padding: 0 0 2rem 0
