.GoogleMap
  position: relative
  width: 100%
  height: 100%
  min-height: inherit

  > .layout
    position: relative
    width: 100%
    height: 100%
    min-height: inherit

    > div:last-of-type
      min-height: inherit
