@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      display: flex
      margin-bottom: 4rem
      padding-left: 4.5rem
      box-sizing: border-box
      
      @include mobile-tablet
        flex-direction: column-reverse
        padding: 0
        margin-bottom: 2rem
      
      > .left
        width: 50%
        padding-right: 4rem
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding: 0 4rem
          
        @include mobile
          padding: 0 2rem
          
        > .item
          position: relative
          width: 100%
          
          > h3
            margin-bottom: 2rem
            padding-right: 2rem
            box-sizing: border-box
            line-height: 2.5rem
          
          > p
            margin-bottom: 1.5rem
        
      > .right
        width: 50%
        margin-top: .3rem
  
        @include mobile-tablet
          width: 100%
          margin-bottom: 2rem
        
    > .section2
      position: relative
      width: 100%
