@import "vars"

.InformationBlock
  position: relative
  width: 100%
  padding: 4rem 4.5rem
  box-sizing: border-box
  
  @include desktopSmall
    padding-right: 0
    
  @include tablet
    padding-left: 3.5rem
    padding-right: 3.5rem
    
  @include mobile
    padding-left: 1.5rem
    padding-right: 1.5rem

  > .layout
    position: relative
    width: 100%
    
    > .item
      position: relative
      width: 100%
      
      > .heading
        display: flex
        align-items: center
        margin-bottom: 2.5rem
        
        > .line
          width: .3rem
          height: 2.3rem
          margin-right: 1.3rem
          background-color: $red-2

      > .i
        display: flex
        align-items: flex-start
        margin-bottom: 2rem
        
        &:last-of-type
          margin-bottom: 2.5rem
        
        > .left
          width: 28%
          margin-left: 1.6rem
          
          @include mobile-tablet
            width: 40%
            margin-left: 0
          
        > .right
          width: 72%
          margin-top: .1rem
  
          @include tablet
            width: 60%
            padding-right: 1.7rem
            box-sizing: border-box
            
          @include mobile
            width: 60%
            padding-right: 0
            
