@import "vars"

$transitionSpeed: .4s

.HeroImageCarousel
  position: relative
  display: flex
  width: 100%
  height: 100%

  > .layout
    position: relative
    display: flex
    width: 100%

    @include mobile
      flex-direction: column-reverse
      justify-content: flex-end

    > .left, & > .right
      position: relative
      display: flex
      flex-direction: column
      justify-content: center

    > .left
      width: 45%
      padding-left: calc(#{ $horizontalPadding } * 3)

      @include desktopSmall
        width: 50%
        padding-left: calc(#{ $horizontalPadding } * 2)

      @include mobile-tablet
        width: 50%
        padding-top: 0
        padding-bottom: 3%
        padding-left: calc(#{ $horizontalPadding } / 2)

      @include mobile
        width: 100%
        height: 40%
        padding-bottom: 0
        padding-left: $horizontalPaddingMobile
        padding-right: $horizontalPaddingMobile

      > .heading > h1
        margin-bottom: 1rem

      > .heading, & > .content
        transition: $transitionSpeed

      @include tablet-desktop
        > .heading, & > .content
          position: absolute

      @include desktop
        > .heading
          bottom: calc(50% - 0.5rem)

        > .content
          top: calc(50% + 1.5rem)

      @include tablet
        > .heading
          bottom: calc(60% - 2rem)

        > .content
          bottom: calc(50% - 1rem)

      &.transition
        > .heading, & > .content
          opacity: 0
          pointer-events: none
          transition: $transitionSpeed

        > .heading
            transform: translate3d(0, -6rem, 0)

            @include tablet
              transform: translate3d(0, -4rem, 0)

            @include mobile
              transform: translate3d(4rem, 0, 0)

        > .content
            transform: translate3d(0, 2rem, 0)

            @include tablet
              transform: translate3d(0, -2rem, 0)

            @include mobile
              transform: translate3d(4rem, 0, 0)

      > .dots
        flex-direction: row

        @include tablet
          position: absolute
          top: calc(50% + 1rem)

    > .right
      width: 52.5%
      align-items: flex-start
      justify-content: center

      @include tablet
        width: 50%

      @include mobile
        width: 100%
        height: 100%
        margin-top: 3rem

      > .image, :global(.slickSlider) .image
        position: relative
        width: 90%
        height: 100%
        padding: 0 5%

      > .image
        transition: $transitionSpeed

        &.transition
          transform: translate3d(6rem, 0, 0)
          opacity: 0
          pointer-events: none
          transition: $transitionSpeed

        @include tablet
          position: absolute
          width: 200%

      > .slider
        position: relative
        width: 105%
        height: 100%

        > :global(.slickSlider)
          width: 100%
          height: 100%

          :global(.slick-list), & :global(.slick-track), & :global(.slick-slide) > div
            height: 100%

          .image
            padding-left: $horizontalPaddingMobile
            padding-right: $horizontalPaddingMobile

            @include mobile
              width: 80% !important
              padding-left: $contentHorizontalPaddingSmall
              padding-right: 0

      > .controls
        position: absolute
        top: 0
        right: 0
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-top: calc(8% + 133px + 2rem)

        > .top, & > .bottom
          display: flex
          flex-direction: column

        > .top
          justify-content: flex-end

          > .index
            > .line
              position: relative
              width: 5rem
              height: 2px
              margin-top: .35rem
              background-color: $lightGrey-3

              &:after
                content: ""
                position: absolute
                top: 0
                right: 0
                width: 50%
                height: 100%
                background-color: $white

        > .bottom
          width: 1rem

          > .prev, & > .next
            display: flex
            justify-content: center

  .dots
    display: flex
    flex-direction: column
    align-items: center

    > div
      width: .3rem
      height: .3rem
      border-radius: 50%
      background-color: $white
      opacity: .2
      transition: $transitionSpeed

      @include mobile-tablet
        width: .7rem
        height: .7rem

      &.active
        opacity: 1
        transition: $transitionSpeed
