@import "vars"

.arrow 
  position: absolute
  color: white
  font-size: 2.5em
  font-weight: bold
  height: 50px
  min-width: 100px
  cursor: pointer

.next 
  height: 50px
  bottom: -70px
  right: 0
  box-sizing: border-box


.prev 
  height: 50px
  bottom: -70px
  left: 0
  box-sizing: border-box


.slickDots 
  bottom: -110px
  transition: all .3s

.dots
    bottom: -110px
    border-radius: 5px

.slickThumb 
  bottom: -110px
  transition: all .3s

.slickActive
  background: #414141
  border-radius: 5px
  transition: all .3s

.customPaging
  height: 100%
  border-radius: 5px

.imgBox 
  width: 100%
  height: 300px
  margin: 0 auto

  > img
      width: 100%
      height: 100%
      object-fit: cover


.slickThumb li 
  width: 33.33% !important
  height: 5px !important
  margin: 0 !important
  border: none !important
  background: #d6d6d6
  transition: all .3s

.slickThumbMobile li 
  width: 16.5% !important
  height: 5px !important
  margin: 0 !important
  border: none !important
  background: #d6d6d6
  transition: all .3s


.slickThumb li:hover 
  background: #414141


.slickThumb li:nth-child(1) 
  border-radius: 5px 0 0 5px


.slickThumb li:nth-child(3) 
  border-radius: 0 5px 5px 0

.itemContainer
    position: relative
    height: 570px
    display: flex
    flex-direction: column
    justify-content: space-between

    > .textContainer

        > .date
            margin-top: 1rem

.leftItem
    padding-right: 2.25rem

    &::after
        content: ''
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 5px
        background: $red

.rightItem
    padding-left: 2.25rem

.line
    height: 100%
    width: 5px
    background: $red