@import "vars"

.NewsMediaGrid
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    \:global
      .slickSlider
        padding-left: 9%
        padding-right: 9%

        @include mobile-tablet
          padding-left: 0
          padding-right: 0
