@import "vars"

.Property
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative

    > .section1
      position: relative
      z-index: 2
      width: 100%
      margin-bottom: -2rem

      @include desktopSmall
        padding-left: 13.5rem
        padding-right: 11rem

      @include mobile-tablet
        padding-left: 3.5rem
        padding-right: 3.5rem

    > .section2
      position: relative
      width: 100%
      height: auto
      background: $greyBlue
  
      @include desktopSmall
        padding-left: 10rem
        padding-right: 10rem

      @include mobile-tablet
        padding: 2rem

      > .top, & > .bottom
        position: relative
        width: 100%

      > .top
        display: flex
        align-items: flex-end

        @include mobile-tablet
          display: block

        > .left
          position: relative
          width: 45%
          min-height: 33rem
          padding-right: 1.5rem

          @include mobile-tablet
            min-height: unset
            padding: 0 1rem 1rem
            margin-bottom: 2rem

          > .wrapper
            padding-left: .8rem

            @include mobile-tablet
              padding-left: 0

            > .overview
              .description
                position: relative
                height: auto
                
                > p
                  line-height: 1.3rem
  
                  @include mobile-tablet
                    line-height: 1.2rem
                    
                > p.ghost
                  position: absolute
                  z-index: -1
                  width: calc(100% - 2rem)
                  top: 0
                  left: 0
                  
                > .showMore
                  position: absolute
                  bottom: -1.3rem
                  left: 0
                  transition: .15s
                  
                  &:hover
                    color: $red
                    transition: .15s

              > h2
                @include mobile-tablet
                  margin-bottom: 1rem

              > .unitSpecialOffer
                margin-top: 1.5rem
                margin-bottom: 1.5rem

          > .navigation
            position: absolute
            width: 100%
            bottom: 1.5rem
            padding-right: 1.5rem

            @include mobile-tablet
              position: relative
              margin: 3.5rem 0 0
              padding: 0
              bottom: 0

        > .right
          position: relative
          width: 55%
          height: 39rem
          margin-bottom: -6rem
          background: $lightGrey-2
          
          @include mobile-tablet
            height: 30rem

          > .special
            position: absolute
            z-index: 3
            left: -0.6rem
            top: 5%

        > .left, & > .right
          @include mobile-tablet
            width: 100%

      > .bottom
        @include mobile-tablet
          padding-left: 1rem
          padding-right: 1rem

    > .section3
      @include tablet
        padding-left: 2rem
        padding-right: 2rem

      @include mobile
        padding-left: 1rem
        padding-right: 1rem

      @include desktopSmall
        padding-left: 8rem
        padding-right: 10rem

    > .section4
      @include desktopSmall
        padding-left: 12rem
        padding-right: 12rem
        
      @include mobile-tablet
        padding-left: 2rem
        padding-right: 2rem

    > .section6
      background: linear-gradient(to right, $lightRed, $darkRed)

      @include mobile
        padding-left: 2rem
        padding-right: 2rem

    > .disclaimer
      text-align: justify

      @include mobile-tablet
        padding-left: 1rem
        padding-right: 1rem
