@import "vars"

.HeroSearch
  position: relative
  display: flex
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .form
      position: relative
      display: grid
      grid-template-columns: 4fr 4fr 4fr 4fr 1fr
      grid-gap: 1rem

      @include mobile
        grid-template-columns: 1fr 1fr

      > .col2
        grid-column: 1/3

      > .submit
        grid-column: 5
        max-width: 1.5rem
        max-height: 100%
        align-self: flex-end


    > .searchButton
      display: flex
      justify-content: center
      margin-top: 1.5rem
