@import "vars"

.GroupResults
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > h3 > span
      font-size: 1.6rem
    
    > .list
      > .item
        position: relative
        width: 100%
        display: flex
        align-items: center
        margin-bottom: 1rem
    
        @include mobile-tablet
          margin-bottom: 1.2rem
    
        > .icon
          position: relative
          width: 2rem
          height: 2rem
          border-radius: 50%
          background: $red-2
          display: flex
          align-items: center
          justify-content: center
          margin-right: .7rem
    
        > p
          max-width: calc(100% - 2.7rem)
