@import "vars"

.ContactDetails
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .wrapper
      display: flex
      margin-top: 2rem
      
      > .left, & > .right
        width: 50%
        
      > .left
        padding-top: 1.5rem
        
        @include mobile
          width: 40%
        
        > .item
          display: flex
          align-items: center
          margin-bottom: 1rem
  
          > .icon
            position: relative
            width: 2rem
            height: 2rem
            border-radius: 50%
            background: $red-2
            display: flex
            align-items: center
            justify-content: center
            margin-right: 2rem
            
            @include mobile
              margin-right: 1rem
            
          p
            transition: .1s
            
          &.active
            p
              font-weight: 700
              transition: .2s
              
          > .name
            width: calc(100% - 4rem)
            
      > .right
        background: $grey-2
        border-left: 1px solid black
        height: 44rem
        
        @include mobile
          width: 60%
          height: 52rem
  
  
        > .layout
          position: relative
          overflow: hidden
          overflow-y: scroll
          height: 100%
          padding: 1.9rem 2.5rem
          box-sizing: border-box
          
          @include mobile
            padding: 1.7rem .5rem
          
          > .item
            position: relative
            transition: .3s
            
            
            &.hidden
              transition: .3s
              position: absolute
              clip: rect(0 0 0 0)
              margin-left: -100%
              top: 0
              width: 1px
              height: 1px
              
            > .i
              > p
                margin: 1.2rem 0 1rem
              
              > .el
                display: flex
                
                > p:first-of-type
                  width: 5rem
