// Fonts
$fontMain: 'Barlow', sans-serif
$fontSecondary: 'Operetta', serif

// Colors
$black: #000
$white: #FFF

$grey: #989898
$grey-2: #F7F7F7
$grey-3: #828281
$lightGrey: #D7D7D7
$lightGrey-2: #E3E3E3
$lightGrey-3: #666B74

$greyBlue: #B8BEC5
$greyBlue-2: #E1E4E6
$greyBlue-3: #A7AAB2

$dark: #2C3340
$dark-2: #4C5767
$dark-3: #1F252D
$dark-4: #2A2A2A
$dark-5: #35363A

$red: #D20A19
$red-2: #DB0613
$red-3: #CF0A19
$red-4: #D41735
$lightRed: #E30613
$darkRed: #940613

// Markup
$desktopMinHeight: 580px

$headerHeight: 6rem
$headerHeightTablet: 4.5rem
$headerHeightMobile: 4.25rem

$horizontalPadding: 4rem
$horizontalPaddingSmall: 3rem
$horizontalPaddingTablet: 3rem
$horizontalPaddingMobile: 2rem

$contentHorizontalPadding: 10.5rem
$contentHorizontalPaddingSmall: 5.5rem
$contentHorizontalPaddingTablet: 3rem
$contentHorizontalPaddingMobile: 2rem

$elementsRadius: .65rem

// Other
$mobile: 767px
$mobileLowHeight: 700px
$tablet: 960px
$desktopSmall: 1160px

// Mixins
@mixin mobile
  @media (max-width: #{$mobile})
    @content

@mixin mobileLow
  @media (max-width: #{$mobile}) and (max-height: #{$mobileLowHeight})
    @content

@mixin mobile-tablet
  @media (min-width: 0) and (max-width: #{$tablet})
    @content

@mixin tablet
  @media (min-width: #{$mobile + 1px}) and (max-width: #{$tablet})
    @content

@mixin tablet-desktop
  @media (min-width: #{$mobile + 1px})
    @content

@mixin desktop
  @media (min-width: #{$tablet + 1px})
    @content

@mixin desktopSmall
  @media (min-width: #{$tablet + 1px}) and (max-width: #{$desktopSmall})
    @content

=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style
    font-display: swap
