@import "vars"

=font-face($family, $pathname, $type, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: local('#{ $family } #{ $type }'), local('#{ $pathname }-#{ $type }'), url('/fonts/#{ $pathname }-#{ $type }.otf') format('opentype'), url('/fonts/#{ $pathname }-#{ $type }.ttf') format('truetype')
    font-weight: $weight
    font-style: $style
    font-display: swap

+font-face("Operetta", 'Operetta', 'Regular', 400)
+font-face("Operetta", 'Operetta', 'Medium', 500)
+font-face("Operetta", 'Operetta', 'Semibold', 600)
+font-face("Operetta", 'Operetta', 'Bold', 700)
+font-face("Operetta", 'Operetta', 'Black', 900)
