@import "vars"

a
  color: unset
  text-decoration: unset

  &:hover
    color: unset

.Input, .Textarea
  position: relative
  width: 100%

  > .label
    position: relative
    display: flex
    align-items: center
    margin-bottom: .5rem !important

    @include mobile-tablet
      padding-left: 1.5rem

    > p
      margin: 0 .2rem 0 0
      
    &.labelStart
      padding-left: 0

  > .value, & > textarea
    width: 100%
    display: inline-flex
    align-items: center
    box-sizing: border-box
    border: 1px solid $lightGrey
    background-color: $white
    transition: .2s
    border-radius: $elementsRadius
    overflow: hidden

    > .before
      padding: .8rem 0 .8rem 1.5rem
      
    &.textBeforeSmall > .before
      padding: .8rem 0 .8rem 1rem
      
    &.textBeforeRight > .before
      padding: .8rem 0 .8rem 1.5rem

    > .star
      position: absolute
      padding: 0.8rem 1.5rem
      font-size: 1.1rem
      color: transparent

      @include mobile
        font-size: 1.3rem

    > .icon
      position: relative
      padding: .8rem 0 .8rem 1.5rem

      &.right
        padding: .8rem 1.5rem .8rem 0

      &.withIconHover
        > *
          transition: .2s

        > *:first-child
          opacity: 1
          transition: .2s

        > *:last-child
          position: absolute
          top: 0
          left: 0
          padding: .8rem 0 .8rem 1.5rem
          opacity: 0
          transition: .2s

        &:hover
          > *:first-child
            opacity: 0

          > *:last-child
            opacity: 1
            
  > .value > input
    height: 3rem
    
    @include mobile
      height: 3.5rem

  > .value > input, & > textarea
    width: 100%
    border: none
    background-color: $white
    padding: .8rem 1.5rem
    box-sizing: border-box
    outline: none
    transition: .2s
    appearance: none

    &.textBefore
      padding-left: .8rem

    &.textBeforeSmall
      padding-left: .4rem

    &.withIcon:not(.textBefore), &.withIcon:not(.textBeforeSmall)
      padding-left: .8rem

    &.fontS
      padding: .8725rem 1.5rem
      
    &.mediumFont
      font-weight: 400

  & > textarea
    resize: none

  > .value.focus, & > textarea:focus
    border-color: $black
    transition: .2s

  > .message
    position: absolute
    left: 0
    top: calc(100% + .3rem)

  &.secondary
    > .value, & > textarea
      border-color: $lightGrey-2
      background-color: $white
      border-radius: 0

    > .value > input, & > textarea
      background-color: $white
      padding: .8rem 1.5rem

  &.linear
    > .value, & > textarea
      border: none
      border-bottom: solid 1px $black
      box-sizing: border-box
      background-color: transparent
      border-radius: 0

    > .value > input, & > textarea
      background-color: transparent
      padding: .8rem 1rem

    &.white
      > .value, & > textarea
        border-color: $white

  &.transparent
    > .value, & > textarea
      border-color: transparent
      background-color: transparent

    > .value > input, & > textarea
      background-color: transparent

  &.required
    > .value > input, & > textarea
      background-color: rgba($lightGrey-2, .3)

    > textarea
      border: 1px solid $lightGrey-2

  > .value > input[type="search"]::-webkit-search-cancel-button
    -webkit-appearance: none
    height: 1.75rem
    width: 1.75rem
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times.svg) no-repeat 50% 50%
    background-size: contain
    opacity: 0
    pointer-events: none

  > .value > input[type="search"]:focus::-webkit-search-cancel-button
    opacity: .3
    pointer-events: all
    
  &.withFillIndicator
    > .value:after
      content: ""
      position: absolute
      width: 3px
      height: 55%
      top: 22.5%
      left: .75rem
      background: $red
    
  &.withFullFillIndicator
    > .value
      border-color: $red
      transition: .2s
      
  &.noBorder
    > .value, input, & > textarea
      border: none

.Select
  position: relative
  width: 100%

  .wrapper
    height: 100%

  .label
    margin-bottom: .5rem

    @include mobile-tablet
      padding-left: 1.5rem

  .input
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    height: calc(3rem + 2px)
    width: 100%
    border: 1px solid $lightGrey
    border-radius: $elementsRadius
    padding: .8rem 1.5rem
    box-sizing: border-box
    background: $white
    cursor: pointer
    min-height: 3rem
    transition: border-color .2s ease-out
    
    @include mobile
      height: calc(3.5rem + 2px)

    > p
      max-width: calc(100% - 1rem)

    > .indicator
      position: absolute
      right: 3.5rem
      background: $white

  .options
    position: absolute
    z-index: 2
    width: 100%
    max-height: 0
    overflow-y: auto
    top: 79%
    background: $white
    background: transparent
    border: 1px solid transparent
    border-radius: 0 0 $elementsRadius $elementsRadius
    border-top: none
    box-sizing: border-box
    transition: all .2s ease-in
    pointer-events: none

    @include desktopSmall
      top: 75%

    .list
      width: 100%
      margin: .25em 0
      opacity: 0
      transform: translate3d(3rem, 0, 0)
      transition: .15s

      > .item
        position: relative
        display: flex
        align-items: center
        list-style-type: none
        padding: .6em 1.5rem
        box-sizing: border-box
        transition: .15s

        &:hover
          background: $lightGrey
          transition: .15s

          > p
            color: $black

        > p
          width: 100%
          margin: 0
          white-space: no-wrap
          overflow: hidden
          text-overflow: ellipsis

        &.active:before
          content: ""
          position: absolute
          width: 4px
          height: 4px
          left: calc(.75rem - 2px)
          background: $black

  .open
    .input, & .options
      border-color: $black
      transition: border-color .2s ease-out

    .options
      background: $white
      max-height: 18rem
      transition: all .15s ease-out
      pointer-events: auto

      .list
        opacity: 1
        transform: translate3d(0, 0, 0)
        transition: .2s
        
  &.secondary
    .input, .open > .options
      border-color: $lightGrey-2
      background-color: $white
      border-radius: 0
      min-height: auto
      
    p
      font-size: 1.1rem
      line-height: initial
      
      @include mobile
        font-size: 1.3rem
      
  &.required
    .input, .open > .options
      background-color: $grey-2
      
  &.noBorder
    .input, .open, .options
      border: none
      
  &.fontLarge
    .input, .open > .options
      p
        font-size: 1.1rem
        line-height: initial
      
        @include mobile
          font-size: 1.3rem
    

.Checkbox, .Radio
  position: relative
  width: 100%

  > .wrapper, & > .item
    display: flex
    align-items: center

    > .checkbox
      position: relative
      width: 18px
      height: 18px
      border: 1px solid $black
      margin-right: .7rem

      &.white
        border-color: $white

      &.active:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        width: 14px
        height: 14px
        background: $red

      &.small
        width: 16px
        height: 16px

        &.active:after
          width: 13px
          height: 13px

    > h3
      max-width: 80%

    > .textAfter
      position: absolute
      right: 0

  &.secondary
    .checkbox
      border-color: $grey !important
      background-color: $grey

      &.active:after
        background: $black
        
  &.large
    .checkbox
      width: 30px
      height: 30px
  
  
      &.active:after
        width: 22px
        height: 22px
        
  &.grey
    .checkbox
      background-color: $grey-2
      
  &.noBorder
    .checkbox
      border: none
      
  

.Button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  margin: 0
  border-radius: 0
  outline: none
  background-color: $dark
  cursor: pointer
  padding: .75rem 2rem
  border: solid 1px $dark
  transition: .2s

  > .icon
    position: relative
    display: flex
    align-items: center
    justify-content: center

  &.withIconHover
    > .icon
      > *
        transition: .2s

      > *:first-child
        opacity: 1
        transition: .2s

      > *:last-child
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: .2s

  &:hover
    text-shadow: 0 0 1px $white
    transition: .2s

  &.withIconHover:hover
    > .icon
      > *:first-child
        opacity: 0

      > *:last-child
        opacity: 1

  &:active
    opacity: .8
    transition: .1s

  *
    user-select: none

  &.full
    width: 100%

  &.disabled
    opacity: .6
    pointer-events: none

  &.dark
    background-color: $dark !important
    border-color: $dark !important

  &.white
    background-color: white
    border-color: $white

    &:hover
      text-shadow: 0 0 1px $black

  &.red
    background-color: $red
    border-color: $red

    &:hover
      text-shadow: 0 0 1px $black

  &.rounded
    border-radius: $elementsRadius

  &.secondary
    background-color: transparent
    border-color: $black

    &:hover
      text-shadow: 0 0 1px $black
      border-color: rgba($black, .5)

    &.white
      border-color: $white !important

      &:hover
        text-shadow: 0 0 1px $white
        border-color: rgba($white, .5) !important

  &.noContent
    padding: .75rem

    &.withIcon.secondary
      background-color: transparent
      border-color: $black

      &:hover
        background-color: transparent !important
        border-color: $black !important
        opacity: .4 !important

  &.noContent, &.noContent.withIcon, &.backgroundBlur
    background-color: rgba($dark, .25)
    border-color: transparent

    &:not(.withIconHover):hover
      background-color: rgba($dark, .15)
      border-color: transparent

  &.transparent
    background-color: transparent !important
    border-color: transparent !important
    padding: 0

    &:not(.withIconHover):hover
      opacity: .6
      background-color: transparent
      border-color: transparent
      
  &.darkBackground
    background-color: $dark-4 !important
    
  &.largeMobile
    @include mobile-tablet
      padding-top: 1.2rem
      padding-bottom: 1.2rem

.Icon
  &.xs
    width: 1rem
    height: 1rem

    &.right
      margin-left: .6rem

    &.left
      margin-right: .6rem

  &.s
    width: 1.25rem
    height: 1.25rem

    &.right
      margin-left: .7rem

    &.left
      margin-right: .7rem

  &.m
    width: 1.4rem
    height: 1.4rem

    &.right
      margin-left: .85rem

    &.left
      margin-right: .85rem

  &.l
    width: 1.75rem
    height: 1.75rem

    &.right
      margin-left: 1rem

    &.left
      margin-right: 1rem

  &.xl
    width: 3rem
    height: 3rem

    &.right
      margin-left: 1.1rem

    &.left
      margin-right: 1.1rem

  &.xxl
    width: 4rem
    height: 4rem

    &.right
      margin-left: 1.4rem

    &.left
      margin-right: 1.4rem

  &.xxxl
    width: 5.5rem
    height: 5.5rem

    &.right
      margin-left: 1.75rem

    &.left
      margin-right: 1.75rem

  &.xxxxl
    width: 7rem
    height: 7rem

    &.right
      margin-left: 2rem

    &.left
      margin-right: 2rem



// Slick Slider additional styles

.slickSlider
  position: relative
  display: block
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent
  overflow: hidden

  @include mobile-tablet
    padding-left: 0
    padding-right: 0

  *
    border: none
    outline: none
    box-shadow: none
