@import "vars"
@import "fonts"

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,700&display=swap')

html, body
  font-family: $fontMain
  font-size: .966vw
  color: $black

  @include desktopSmall
    font-size: 1.1vw

  @include tablet
    font-size: 1.7vw

  @include mobile
    font-size: 2.8vw

*
  font-family: $fontMain
  letter-spacing: .75px

h1
  font-size: 6rem
  line-height: 5.2rem

h2
  font-size: 4rem
  line-height: 3.6rem
  
  &.small
    font-size: 3rem
    line-height: 3.3rem
    
    @include tablet
      font-size: 2.65rem
      line-height: 3rem

h3
  font-size: 1.6rem
  line-height: normal
  letter-spacing: 1.5px

  &.semiBig
    font-size: 2.25rem
    line-height: 2.75rem

  &.big
    font-size: 2.5rem
    line-height: 3rem

h4
  font-size: 1.4rem
  letter-spacing: 0

  @include tablet
    font-size: 1.25rem

a, p, span
  font-size: 1rem
  line-height: 1.2rem
  
  @include mobile
    font-size: 1.2rem
    line-height: 1.6rem
    
  &.big
    font-size: 1.15rem
    line-height: 1.35rem
  
    @include desktopSmall
      font-size: 1.29rem
      line-height: 1.5rem
    
  &.large
    font-size: 1.1rem
    line-height: 1.3rem

    @include desktopSmall
      font-size: 1.275rem
      line-height: 1.5rem

  &.small
    font-size: .9rem
    line-height: 1.3rem

    @include desktopSmall
      font-size: 1.05rem
      line-height: 1.2rem

  &.x-small
    font-size: .8rem
    line-height: 1rem

    @include desktopSmall
      font-size: .9rem
      line-height: 1.1rem

  &.xx-small
    font-size: .7rem
    line-height: .9rem

    @include desktopSmall
      font-size: .8rem
      line-height: 1rem

h1, h2, h3, h4
  font-weight: 700

h1, h2, h3, h4, p, a, span
  &.fontSecondary
    font-family: $fontSecondary
  
  &.italic
    font-style: italic

  &.thin
    font-weight: 100

  &.extraLight
    font-weight: 200

  &.light
    font-weight: 300

  &.regular
    font-weight: 400

  &.medium
    font-weight: 500

  &.semiBold
    font-weight: 600

  &.bold
    font-weight: 700

  &.uppercase
    text-transform: uppercase

  &.underline
    text-decoration: underline
    
  &.letterSpacingNormal
    letter-spacing: normal

  &.black
    color: $black

  &.white
    color: $white

  &.grey
    color: $grey

  &.grey-3
    color: $grey-3

  &.lightGrey
    color: $lightGrey

  &.lightGrey-2
    color: $lightGrey-2

  &.greyBlue
    color: $greyBlue

  &.greyBlue-2
    color: $greyBlue-2

  &.greyBlue-3
    color: $greyBlue-3

  &.dark
    color: $dark

  &.dark-2
    color: $dark-2
    
  &.dark-5
    color: $dark-5

  &.red
    color: $red

  &.red-2
    color: $red-2

  &.red-4
    color: $red-4

  &.lightRed
    color: $lightRed

.Input, .Textarea
  > .value > input, & > textarea
    font-size: 1.1rem
    font-weight: 300

    @include mobile
      font-size: 1.3rem

    &::placeholder
      color: $grey

    &.fontS
      font-size: .9rem

      @include desktopSmall
        font-size: 1rem

      @include mobile
        font-size: 1.1rem

  &.secondary
    > .value > input, & > textarea
      &::placeholder
        color: $black

  &.white
    > .value > input, & > textarea
      color: $white

      &::placeholder
        color: $white

.Select
  .small
    font-size: .9rem

    @include desktopSmall
      font-size: 1rem

    @include mobile
      font-size: 1.1rem

.Checkbox, .Radio
  > .wrapper, & > .item
    > .label
      font-size: 1.1rem
      font-weight: 300

      @include mobile
        font-size: 1.3rem

      &.small
        font-size: .9rem

        @include desktopSmall
          font-size: 1rem

        @include mobile
          font-size: 1.1rem

.Button
  font-size: 1.1rem
  font-weight: 300
  color: $white

  @include mobile
    font-size: 1.3rem

  &.secondary, &.white
    color: $black

  &.secondary.white
    color: $white

  &.dark
    color: $black
