@import "vars"

.DownloadModal
  position: relative
  width: 100%

  > .layout
    position: relative
    margin-top: 2rem

    > h4
      margin-bottom: 2.5rem
      
      > a
        font-size: 1.4rem
        color: $red-2
        
        @include tablet
          font-size: 1.25rem
          
    > .button
      width: 19%
      margin-left: auto
      display: flex
      height: 3.4rem
      
      
      @include tablet
        width: 22%
        
      @include mobile
        width: 45%

