@import "vars"

.Logo
  position: relative

  > .layout
    position: relative
    display: flex
    height: auto
    transition: .3s

    &.s
      width: 5.25rem

      @include mobile-tablet
        width: 3.75rem

    &.m
      width: 7rem

      @include mobile-tablet
        width: 6rem
