@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      box-sizing: border-box

      @include mobile-tablet
        flex-direction: column
        padding: 0

      > .topImage
          height: 400px

          @include mobile-tablet
            height: 300px

          @include mobile
            height: 200px

      > .subTitle
          margin-left: 4.5rem
          color: #5D6D80

          @include mobile-tablet
            margin-left: 3.5rem

          @include mobile
            margin-left: 1.7rem

          > br
              @include mobile-tablet
                display: none

              @include mobile
                display: none

      > .container
          display: flex
          margin-top: 5px

          @include mobile-tablet
            display: block
            width: 100%
      
          > .left
            width: 50%
            padding: 3rem 4.5rem 3.5rem 4.5rem
            box-sizing: border-box
            background: $dark-5

            > .title
                margin: 0
            
            > .text
                color: #fff
                line-height: 1.3rem
      
            @include mobile-tablet
              width: 100%
              padding: 3rem 4.5rem 3.5rem 3.5rem
              
            @include mobile
              padding: 1.7rem
              
          > .right
                width: 50%
                padding: 3rem 4.5rem 3.5rem 4.5rem
                box-sizing: border-box
                background: $greyBlue

                @include mobile-tablet
                    width: 100%
                    padding: 3rem 4.5rem 3.5rem 3.5rem

                @include mobile
                    padding: 1.7rem

                > .list
                    position: relative
                    > p
                        position: relative
                        line-height: 1.35rem
                        padding-left: 3rem
                        margin: 0 0 .2rem

                        @include mobile-tablet
                            padding-left: 1.5rem

                        @include mobile
                            padding-left: 1.5rem
                    
                        &:after
                            content: ""
                            position: absolute
                            left: -0rem
                            top: .6rem
                            width: 3px
                            height: 3px
                            border-radius: 50%
                            background-color: $black
    
            

    > .section2
        position: relative
        width: 100%
        box-sizing: border-box
        background: $grey-2
        
        @include mobile-tablet
            display: flex
            flex-direction: column
            padding-left: 0
      
        > .title
            margin-left: 4.5rem

            @include mobile-tablet
              margin-left: 3.5rem

            @include mobile
              margin-left: 1.7rem

        > .block
            display: flex

            @include mobile-tablet
                width: 100%
                padding: 0
                margin-top: 0
            
            @include mobile


            p
                margin-bottom: 1.5rem

            > .left
                width: 50%
                padding-left: 4.5rem

                @include mobile-tablet
                    padding-left: 3.5rem

                @include mobile
                    padding-left: 1.7rem
                    padding-right: 1rem

                > .list
                    position: relative
                    
                    > p
                        position: relative
                        line-height: 1.35rem
                        padding-left: 3rem
                        margin: 0 0 .2rem

                        @include mobile-tablet
                            padding-left: 1.5rem

                        @include mobile
                            padding-left: 1.5rem
                    
                        &:after
                            content: ""
                            position: absolute
                            left: -0rem
                            top: .6rem
                            width: 3px
                            height: 3px
                            border-radius: 50%
                            background-color: $black

            
            > .right
                width: 50%
                padding-left: 4.5rem

                @include mobile-tablet
                    padding-left: 3.5rem

                @include mobile
                    padding-left: 1rem
                    padding-right: 2rem

                > .list
                    position: relative
                    
                    > p
                        position: relative
                        line-height: 1.35rem
                        padding-left: 3rem
                        margin: 0 0 .2rem

                        @include mobile-tablet
                            padding-left: 1.5rem

                        @include mobile
                            padding-left: 1.5rem
                    
                        &:after
                            content: ""
                            position: absolute
                            left: -0rem
                            top: .6rem
                            width: 3px
                            height: 3px
                            border-radius: 50%
                            background-color: $black

    > .section3
        display: flex
        flex-wrap: wrap

        @include mobile-tablet
            flex-wrap: wrap

        @include mobile
            display: block
        
        > .block
            width: 33.33%
            padding: 1.25rem 4rem 2.5rem 4.5rem
            background: #E4E7E9
            height: 23.5rem

            @include mobile-tablet
                width: 50%
                min-height: 300px
                padding-left: 3.5rem
                background: $grey-2

                &:nth-child(6)
                    > .content
                        > .stats
                            > .title
                                letter-spacing: normal

            @include mobile
                width: 100%
                min-height: 25rem
                padding-left: 1.7rem

            &:nth-child(odd)
                background: $grey-2

            &:nth-child(6)
                > .content
                    > .stats
                        > .title
                            letter-spacing: -3px

            > .title
                margin-top: 0
                margin-left: calc(2rem + 5px)


            > .content
                width: 100%
                height: calc(100% - 2rem)
                display: flex

                @include mobile
                    min-height: 14rem

                > .line
                    width: 5px
                    background: $red-4

                > .stats
                    width: 100%
                    height: 100%
    