@import "vars"

.TwitterTimeline
  position: relative
  height: auto
  padding: 1rem

  > .layout
    position: relative
    width: 100%
    height: 40rem
    background: $white
    border-radius: #{$elementsRadius * 4} #{$elementsRadius * 4} 0 0
    border: 1px solid $lightGrey-2

    @include tablet
      height: 38rem

    > .type
      position: absolute
      z-index: 2
      width: auto
      height: 1.5rem
      top: -1px
      left: 50%
      transform: translateX(-50%)
      border-radius: 0 0 #{$elementsRadius * 2} #{$elementsRadius * 2}
      display: flex
      align-items: center
      justify-content: center
      background: $white
      border: 1px solid $lightGrey-2
      border-top: 1px solid $white

    > .center
      position: relative
      width: 100%
      height: 100%
      border-radius: #{$elementsRadius * 4} #{$elementsRadius * 4} 0 0
      padding-top: 1.5rem
