@import "vars"

.PropertyCard
  position: relative
  height: auto
  border: 1px solid $greyBlue-2 !important
  background: $white

  > .layout
    position: relative
    width: 100%
    height: 32.5rem

    @include mobile
      height: 34rem

    > .top
      position: relative
      width: 100%
      height: 55%

      &:after
        content: ""
        position: absolute
        top: 100%
        left: 2rem
        width: 0
        height: 0
        border-left: 1.25rem solid transparent
        border-right: 1.25rem solid transparent
        border-top: 1.25rem solid $black

      > .special
        position: absolute
        z-index: 3
        top: 20%
        left: -0.6rem

      > .label
        position: absolute
        z-index: 2
        width: auto
        height: 1.75rem
        top: -0.75rem
        padding-bottom: .25rem
        left: 50%
        transform: translateX(-50%)
        border-radius: 0 0 $elementsRadius $elementsRadius
        display: flex
        align-items: center
        justify-content: center
        background: $white

      > .image
        position: absolute
        z-index: 1
        width: 100%
        height: 100%

      > .imageLabel
        position: absolute
        z-index: 2
        width: 100%
        bottom: 0
        padding-top: 1.8rem
        background: linear-gradient(to top, rgba($black, 100%), rgba($black, 0%))
      
    .bottom
      position: relative
      width: 100%
      height: 45%

      > .info
        position: relative
        width: 100%

        > .el
          position: relative
          width: 100%
          display: flex
          flex-wrap: wrap
          justify-content: flex-start

          > p:first-child
            width: 17.5%

      > .view
        position: absolute
        bottom: 1rem
        right: 2rem

  .item
    height: 100%
    position: relative

    > .imageWrapper
      position: relative
      width: 100%
      height: 100%
