@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      box-sizing: border-box

      @include mobile-tablet
        flex-direction: column
        padding: 0

      > .subTitle
            margin-left: 4.5rem
            color: #5D6D80

            @include mobile-tablet
                margin-left: 3.5rem

            @include mobile
                margin-left: 1.7rem
      
      > .container
        position: relative
        display: flex

        @include mobile-tablet
            display: block
            width: 100%
    
        > .left
            width: 50%
            padding: 3rem 4.2rem 3.5rem 4.5rem
            box-sizing: border-box
            background: $dark-5

            > .title
                margin: 0
            
            > .text
                color: #fff
                line-height: 1.3rem
    
            @include mobile-tablet
                width: 100%
                padding: 3rem 4rem
            
            @include mobile
                padding: 2rem
            
        > .right
            width: 50%
            box-sizing: border-box

            @include mobile-tablet
                width: 100%
            
            > picture
                > img
                    object-position: right

    > .section2
        position: relative
        width: 100%
        box-sizing: border-box
        background: $grey-2
        
        @include mobile-tablet
            display: flex
            flex-direction: column
            padding-left: 0
      
        > .title
            margin-left: 4.5rem

            @include mobile-tablet
                margin-left: 4rem

            @include mobile
                margin-left: 2rem

        > .block
            display: flex

            @include mobile-tablet
                width: 100%
                padding: 0
                padding-bottom: 4rem
                margin-top: 0
            
            @include mobile


            p
                margin-bottom: 1.5rem

            > .left
                width: 100%
                padding-left: 4.5em

                @include mobile-tablet
                    padding-left: 4rem

                @include mobile
                    padding-left: 2rem
                    padding-right: 1rem

                > .list
                    position: relative
                    display: flex
                    flex-wrap: wrap

                    > .block
                        width: 33.33%
                        margin-bottom: 4rem

                        @include mobile
                            width: 50%

                        > .title
                            margin-bottom: 0.5rem
                    
                        > p
                            position: relative
                            line-height: 1.35rem
                            padding-left: 2rem
                            margin: 0 0 .2rem
                            width: 50%

                            @include mobile-tablet
                                padding-left: 1.5rem

                            @include mobile
                                padding-left: 1.5rem
                        
                            &:after
                                content: ""
                                position: absolute
                                left: -0rem
                                top: .6rem
                                width: 3px
                                height: 3px
                                border-radius: 50%
                                background-color: $black
            
    > .section3
        display: flex
        flex-wrap: wrap

        @include mobile-tablet
            flex-wrap: wrap

        @include mobile
            display: block
        
        > .block
            width: 33.33%
            padding: 1.25rem 4rem 2.5rem 4rem
            background: #E4E7E9

            @include mobile-tablet
                width: 50%
                min-height: 300px
                background: $grey-2

                &:nth-child(6)
                    > .content
                        > .stats
                            > .title
                                letter-spacing: normal

            @include mobile
                width: 100%
                min-height: 25rem

            &:nth-child(odd)
                background: $grey-2

            &:nth-child(6)
                > .content
                    > .stats
                        > .title
                            letter-spacing: -3px

            > .title
                margin-top: 0
                margin-left: calc(2rem + 5px)


            > .content
                width: 100%
                height: 100%
                display: flex
                min-height: 7rem

                @include mobile
                    min-height: 14rem

                > .line
                    width: 5px
                    background: $red-4

                > .stats
                    width: 100%
                    height: 100%
    