@import "vars"

.Submenu
  > .item
    > .name
      position: relative
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      padding-top: 1rem
      padding-bottom: 1rem
  
      > p
        transition: .15s
        
    &.active
      > .name
        > p
          border-bottom: 1px solid rgba($dark-3, .25)
      
  @include desktop
    position: absolute
    z-index: 2
    width: 17.5vw
    max-height: 80vh
    overflow-y: auto
    padding: 1rem 2rem
    top: calc(100% - 1px)
    left: 0
    background: radial-gradient(ellipse at top, $dark-2, $dark), radial-gradient(ellipse at bottom, $dark-2, $dark)
    animation-duration: .2s
    animation-name: show
    animation-iteration-count: 1
    animation-timing-function: ease-in-out
  
    > .item
      &:hover
        > .name
          > p
            text-shadow: 0 0 1px $white
            transition: .15s
      
      &:not(:last-child)
        > .name
          border-bottom: 1px solid rgba($dark-3, .25)
  
  @include mobile-tablet
    position: relative
    width: 100%
    padding: 1rem 2rem 0

    > .item
      > .name
        > p
          width: 90%
  
@keyframes show
  from
    opacity: 0
    transform: translate3d(0, -1rem, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)
