@import "vars"

$transitionSpeed: .4s

.ImageCarousel
  position: relative
  display: flex
  width: 100%
  height: 100%

  > .layout
    position: relative
    display: flex
    width: 100%

    > *
      width: 100%
      height: 100%

      div
        height: 100%

    .item
      position: relative

      > .image
        position: relative
        width: 100%
        height: 100%

        > .gradient
          position: absolute
          width: 100%
          height: 30%
          bottom: 0
          background: linear-gradient(to top, $black, rgba(0, 0, 0, 0))

        > .iframe
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          right: 0
          bottom: 0

    @include mobile
      flex-direction: column-reverse
      justify-content: flex-end


    > .sliderControls
      position: absolute
      top: 1.5rem

      @include mobile-tablet
        top: 1.5rem

      &.left, &.right, &.bottom
        width: 2.5rem
        height: 2.5rem
        border-radius: 50%
        background: rgba(255, 255, 255, .47)
        display: flex
        align-items: center
        justify-content: center
        transition: .2s

        @include tablet
          width: 3.5rem
          height: 3.5rem

        @include mobile
          width: 3rem
          height: 3rem

        @include desktop
          &:hover
            box-shadow: 0 0 0 6px rgba($white, .4)
            transition: .2s

          &:active
            box-shadow: 0 0 0 3px rgba($white, .4)
            transition: .1s

      &.left
        right: 5rem

        @include tablet
          right: 6rem

        @include mobile
          right: 5.5rem

      &.right
        right: 1.5rem

      &.bottom
        right: 1.5rem
        top: 5rem

        @include tablet
          top: 6rem

        @include mobile
          top: 5.5rem

.lightBoxContainer
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100vh

  > div
    background-color: rgba($black, .75) !important
