@import "vars"

.InformationBlock
  position: relative
  width: 100%
  padding: 0 8rem 0 4rem
  box-sizing: border-box
  
  @include tablet
    padding: 0 3.5rem
    
  @include mobile
    padding: 0 1rem

  > .layout
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    
    @include mobile-tablet
      display: block
      
      > .left
        margin-bottom: 3rem
    
    > .left, & > .right
      width: 49.2%
      
      @include mobile-tablet
        width: 100%
        
      
      
      > .bottom
        margin-top: 3rem
    
        > .header
          position: relative
          width: 100%
          padding: .3rem 0
          box-sizing: border-box
          margin-bottom: 3rem
          margin-left: 2.3rem
  
          @include mobile-tablet
            margin-left: 1.5rem
    
          > .line
            position: absolute
            left: -1.8rem
            top: 0
            width: .3rem
            height: 100%
            background-color: $red-2
            
            @include mobile-tablet
              left: -1.45rem
            
        > .list
          height: 40rem
          overflow: hidden
          overflow-y: scroll
          margin-left: -.4rem
          
          @include mobile-tablet
            margin-left: 0
