@import "vars"

.ModalWrapper
  width: 100%
  display: flex
  flex-direction: column
  height: 100%
  padding-top: calc(#{$headerHeight} + 3rem)
  padding-bottom: calc(#{$headerHeight} + 3rem)
  background-color: rgba($black, .1)

  @include tablet
    min-height: -webkit-fill-available
    padding-top: calc(#{$headerHeightTablet} + 4rem)
    padding-bottom: calc(#{$headerHeightTablet} + 4rem)

  @include mobile
    min-height: -webkit-fill-available
    padding-top: calc(#{$headerHeightMobile} + 3rem)
    padding-bottom: calc(#{$headerHeightMobile} + 3rem)

  > .container
    position: relative
    min-width: 20rem
    width: auto
    border-radius: #{$elementsRadius * 4}
    box-shadow: 0 -0.5rem 2rem rgba($black, .2)
    background-color: $white

    @include mobile
      min-width: 100%
      width: 100%
      padding-left: 3rem
      padding-right: 3rem

    > .close
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      z-index: 2
      top: -1.75rem
      right: 3rem
      width: 3.5rem
      height: 3.5rem
      border-radius: 50%
      background: $red
      transition: .2s

      @include tablet
        top: -2rem
        width: 4rem
        height: 4rem

      @include mobile
        top: -2rem
        width: 4rem
        height: 4rem

      @include desktop
        &:hover
          box-shadow: 0 0 0 6px rgba($red, .4)
          transition: .2s

        &:active
          box-shadow: 0 0 0 3px rgba($red, .4)
          transition: .1s

    > .layout
      position: relative
      width: 100%
      height: auto
      
      
  &.secondary
    padding-left: 22rem
    padding-right: 22rem
    
    @include desktopSmall
      padding-left: 17rem
      padding-right: 17rem
    
    @include tablet
      padding-left: 5rem
      padding-right: 5rem
      
    @include mobile
      padding-left: 2rem
      padding-right: 2rem
  
  
    > .container
      padding: 0 3.5rem
      border-radius: 0
  
      > .close
        bottom: 0
        right: 0
        top: auto
        border-radius: 0
        width: 3.4rem
        height: 3.4rem
        
        &:hover
          box-shadow: none
          opacity: .7
          
        &:active
          box-shadow: none
          opacity: .6
