@import "vars"

.RelatedNews
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%
  
    > .list
      position: relative
      display: grid
      grid-template-columns: repeat(3, calc(98% / 3))
      grid-row-gap: 1.5rem
      grid-column-gap: .1rem

    \:global
      .card
        padding: 0 .35rem
