@import "vars"

.Gallery
  display: flex
  flex-direction: row
  justify-content: space-between

  @include mobile
    flex-direction: column

  > .main
    > .title
      padding-left: 2rem

    @include mobile
      margin-bottom: 1rem

      > .title
        padding-left: 3.7rem
        font-size: 1.8rem

    > .tabs
      @include mobile
        display: flex
        flex-direction: row
        padding-left: 3.3rem
        padding-right: 1rem

      .tab
        padding-left: 2rem

        &:hover
          color: $red-2

        @include mobile
          margin-top: .5rem
          margin-bottom: .5rem
          padding-left: .5rem
          padding-right: .5rem
          font-size: 1.2rem
          font-weight: 650

      > .current
        color: $red-2

  > .content
    position: relative
    width: 54%
    min-height: 440px

    @include desktopSmall
      min-height: 420px

    @include tablet
      min-height: 380px

    @include mobile
      width: 100%
      min-height: 360px

    > .iframe
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      right: 0
      bottom: 0

    > .empty
      display: flex
      width: 100%
      height: 100%
      justify-content: center
      align-items: center
