@import "vars"

.CounterButton
  position: relative
  width: 15rem
  padding: 0 1.5rem
  display: flex
  align-content: center
  background: linear-gradient(to right, $dark-2, $dark)
  border-radius: #{ $elementsRadius * 4 }

  > .icon
    position: relative
    margin-right: .75rem
    display: flex
    align-items: center
    justify-content: center

  > .counter
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    width: 1.5rem
    height: 1.5rem
    background: $red-2
    border-radius: 50%
    top: -0.75rem
    right: 1rem



