@import "vars"

.SearchBar
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .form
      position: relative
      display: grid
      grid-template-columns: 1fr 3fr
      grid-gap: 1rem

      @include mobile
        grid-template-columns: 1fr
