@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
  
    .line
      width: 100%
      height: 1px
      background: $black
      margin-top: 1rem
      
  
    .list
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-top: 3.5rem
    
      > .item
        width: 47%
        display: flex
        align-items: center
        margin-bottom: 4.5rem
        transition: .2s
        
        @include mobile-tablet
          width: 100%
          margin-bottom: 3.5rem
    
        &:hover
          transform: scale(1.05)
          transition: .2s
    
        > .left
          width: 7rem
          margin-right: 2.5rem
      
          > .icon
            width: 7rem
            height: 7rem
    
        > .right
          width: calc(100% - 9.5rem)
          padding-right: 3.5rem
          box-sizing: border-box
      
          @include tablet
            padding-right: 1rem
            
          @include mobile
            padding-right: 0
      
          > h4
            margin-bottom: 1.2rem
    
    
    > .section1
      position: relative
      width: 100%
      margin-bottom: 2.5rem
      
      > .image
        width: 100%
        height: 29rem
        
        @include mobile-tablet
          height: auto
      
      
      
      @include mobile-tablet
        > .heading
          padding: 0 5.6rem 5rem 3.5rem
          box-sizing: border-box
          
      @include mobile
        > .heading
          padding: 0 2rem 5rem
  
  
    > .section2
      position: relative
      padding: 0 5rem 2rem 4rem
      box-sizing: border-box
  
      @include mobile-tablet
        padding: 0 3.5rem
  
        @include mobile
          padding-left: 1.5rem
          padding-right: 1.5rem
          
          
    > .section3
      position: relative
      width: 100%
      

      
