@import "vars"

.HomeScene
  position: relative
  width: 100%
  height: auto

  > .section1
    position: relative
    width: 100%
    height: 70vh
    min-height: 40rem
    padding-top: $headerHeight

    @include tablet
      height: 60vh
      padding-top: $headerHeightTablet

    @include mobile
      height: 75vh
      padding-top: $headerHeightMobile

    @include mobileLow
      height: 92.5vh
      padding-top: $headerHeightMobile

    > .layerDark, & > .layerRed
      position: absolute
      width: 100%
      left: 0

    > .layerDark
      top: 0
      height: 90%
      background: radial-gradient(circle, $dark-2, $dark)

    > .layerRed
      bottom: 0
      height: 40%
      background: linear-gradient(to right, $lightRed, $darkRed)

      @include mobile
        height: 52.5%

    > .carousel
      position: relative
      width: 100%
      height: 100%

      @include tablet
        padding-right: 0

      @include mobile
        padding-left: 0
        padding-right: 0

  > .section2
    position: relative
    width: 100%
    height: auto
    top: -0.1rem
    background: linear-gradient(to right, $lightRed, $darkRed)

    @include desktop
      padding-left: 20%
      padding-right: 20%

    @include tablet
      padding-left: 5rem
      padding-right: 5rem

  > .section3
    position: relative
    width: 100%
    height: auto
    background: $white

    @include mobile-tablet
      padding-left: 0
      padding-right: 0

  > .section4
    position: relative
    width: 100%
    height: auto
    background: linear-gradient(to right, $lightRed, $darkRed)

  > .section5
    position: relative
    width: 100%
    height: auto
    background: $white

    @include mobile-tablet
      padding-left: 0
      padding-right: 0
