@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      box-sizing: border-box
      
      @include mobile-tablet
        flex-direction: column
        padding: 0

      > .subTitle
          margin-left: 4.5rem
          color: #5D6D80

          @include mobile-tablet
            margin-left: 3.5rem

          @include mobile
            margin-left: 1.7rem

          > br
              @include mobile-tablet
                display: none

              @include mobile
                display: none

      > .container
          display: flex

          @include mobile-tablet
            display: block
            width: 100%
      
          > .left
            width: 50%
            padding: 3rem 4.5rem 3.5rem 4.5rem
            box-sizing: border-box
            background: $dark-5

            > .title
                margin: 0
            
            > .text
                color: #fff
                line-height: 1.3rem
      
            @include mobile-tablet
              width: 100%
              padding: 3rem 4.5rem 3.5rem 3.5rem
              
            @include mobile
              padding: 1.7rem
              
          > .right
                width: 50%
                max-height: 400px
                background: $greyBlue

                @include mobile-tablet
                    width: 100%
                    overflow: hidden

    > .section2
        position: relative
        width: 100%
        box-sizing: border-box
        
        @include mobile-tablet
            display: flex
            flex-direction: column
            padding-left: 0
      
        > .title
            margin-left: 4.5rem

            @include mobile-tablet
              margin-left: 3.5rem

            @include mobile
              margin-left: 1.7rem

        > .block
            display: flex

            @include mobile-tablet
                width: 100%
                padding: 0
                margin-top: 0
            
            @include mobile


            p
                margin-bottom: 1.5rem

            > .left
                width: 100%
                padding-left: 4.5rem

                @include mobile-tablet
                    padding-left: 3.5rem

                @include mobile
                    padding-left: 1.7rem
                    padding-right: 1rem

                > .list
                    position: relative
                    
                    > p
                        position: relative
                        line-height: 1.35rem
                        padding-left: 3rem
                        margin: 0 0 .2rem

                        @include mobile-tablet
                            padding-left: 1.5rem

                        @include mobile
                            padding-left: 1.5rem
                    
                        &:after
                            content: ""
                            position: absolute
                            left: -0rem
                            top: .6rem
                            width: 3px
                            height: 3px
                            border-radius: 50%
                            background-color: $black

            
            

    