@import "vars"

.BrokingScene
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 12rem
        padding-right: 12rem
  
      @include tablet
        padding-left: 4.5rem
        padding-right: 4.5rem
  
      @include mobile
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
      
      > .searchBar
        position: relative
        width: 100%
  
        @include mobile-tablet
          padding-right: 1rem
        
    > .section2
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 9rem
        padding-right: 7rem
        
      @include mobile-tablet
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
        padding-bottom: 6rem
        
      > h2
        margin-left: 4.5rem
  
        @include mobile-tablet
          margin-left: 3.5rem
          
        @include mobile
          margin-left: 1.5rem
          
      > .cards
        display: grid
        grid-template-columns: 49.5% 49.5%
        grid-column-gap: 1%
        grid-row-gap: 1rem
    
        @include mobile
          grid-template-columns: 100%
      
