@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
  
    .line
      width: 100%
      height: 1px
      background: $black
      margin-top: 1rem
      
  
    .list
      display: flex
      flex-wrap: wrap
      padding: 0 3rem 0 1rem
      box-sizing: border-box
      margin-top: 3.5rem
  
      @include mobile-tablet
        padding: 0
    
      > .item
        width: 20%
        text-align: center
        margin-right: calc(20% / 3)
        margin-bottom: 3.5rem
        transition: .2s
        
        &:hover
          transform: scale(1.1)
          transition: .2s
        
        &:nth-child(4n)
          margin-right: 0
          
        @include tablet
          width: 30%
          margin-right: calc(10% / 2) !important
  
          &:nth-child(3n)
            margin-right: 0 !important
            
        p
          line-height: 1.1rem
          
          @include mobile-tablet
            line-height: 1.35rem
          
  
        @include mobile
          width: 45%
          margin-right: 10% !important
          
          &:nth-child(2n)
            margin-right: 0 !important
          
          
        > .wrapper
          position: relative
          width: 8.5rem
          height: 8.5rem
          display: flex
          justify-content: center
          align-items: center
          margin: 0 auto
          border-radius: 50%
          background-color: $white
          box-shadow: 0 0 .45rem .35rem rgba(0, 0, 0, .1)
  
          @include mobile
            width: 10rem
            height: 10rem
  
          > .circle
            position: absolute
            width: 100%
            height: 100%
            display: flex
            
            > img
              width: 100%
              height: 100%
        
          > .icon
            height: 4rem
  
            @include mobile
              height: 5rem
      
        > .title
          margin-top: 1.2rem
    
    
    > .section1
      position: relative
      width: 100%
      margin-bottom: 2.5rem
      
      @include mobile-tablet
        > .heading
          padding: 0 5.6rem 5rem 3.5rem
          box-sizing: border-box
          
      @include mobile
        > .heading
          padding: 0 2rem 5rem
  
  
    > .section2
      position: relative
      padding: 0 6rem 2rem 4rem
      box-sizing: border-box
  
      @include mobile-tablet
        padding: 0 3.5rem
  
        @include mobile
          padding-left: 2rem
          padding-right: 2rem
          
          
    > .section3
      position: relative
      margin-bottom: 2rem
      
      > .image
        width: 100%
        height: 29rem
        
    > .section4
      position: relative
      padding: 0 6rem 2.5rem 4rem
      box-sizing: border-box
  
      @include mobile
        padding-left: 2rem
        padding-right: 2rem
      
      
      > .wrapper
        display: flex
        align-items: flex-start
        
        @include mobile-tablet
          display: block
        
        > .left
          width: 47%
          margin-right: 3rem
  
          @include mobile-tablet
            width: 100%
            margin-right: 0
          
        > .right
          margin-top: .4rem
          height: 5rem
  
          @include mobile-tablet
            height: auto
            width: 14rem
            margin-top: 2rem
          
    > .section5
      position: relative
      padding: 2rem 6rem 2.5rem 4rem
      box-sizing: border-box
  
      @include mobile
        padding-left: 2rem
        padding-right: 2rem
      
    > .section6
      display: grid
      grid-template-columns: 49.5% 49.5%
      grid-column-gap: .5rem
      grid-row-gap: 1rem
  
      @include mobile
        grid-template-columns: 100%
    
      
