@import "vars"

.Mission
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

    @include mobile
      padding-left: 0

    > .left, & > .right
      position: relative

    > .left
      width: 50%
      z-index: 2

      > .text
        text-align: left
        padding-left: 6rem

      @include desktop
        > h3
          padding-left: 6rem

      @include mobile-tablet
        display: flex
        flex-direction: column
        justify-content: center
        width: 55%
        height: 14rem

        > .text
          padding-left: 0
          text-align: left

          > i
            display: block

      @include mobile
        width: 100%
        padding-left: 10%
        padding-right: 20%

        > h3
          padding-right: 30%

        > .text
          text-align: left

          > i
            display: block

    > .right
      width: 40%
      display: flex
      align-items: flex-end
      justify-content: space-between

      @include mobile-tablet
        position: absolute
        transform: translate3d(0, -50%, 0)
        top: 50%
        right: 0

      > .picture
        position: relative
        width: 100%
        height: 18rem

      @include mobile
        width: 50%
        margin-right: 0
