@import "vars"

.Privacy
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 12rem
        padding-right: 12rem
  
      @include tablet
        padding-left: 4.5rem
        padding-right: 4.5rem
  
      @include mobile
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
      
      > .searchBar
        position: relative
        width: 100%
        
        @include mobile-tablet
          padding-right: 1rem
    
    > .section2
      position: relative
      width: 100%
      padding-left: $contentHorizontalPadding * 1.7
      padding-right: $contentHorizontalPadding * 1.9
  
      @include desktopSmall
        padding-left: $contentHorizontalPaddingSmall * 2.9
        padding-right: $contentHorizontalPaddingSmall * 3.2
  
      @include tablet
        padding-left: $contentHorizontalPaddingTablet
        padding-right: $contentHorizontalPaddingTablet
  
      @include mobile
        padding-left: $contentHorizontalPaddingMobile * 1.5
        padding-right: $contentHorizontalPaddingMobile * 1.5
        
      > .content
        .bulletList
          list-style-type: disc
          
        .alphabeticalList
          list-style-type: lower-alpha

