@import "vars"

.Form
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .fields
      display: flex
      justify-content: space-between
      margin-top: 2.5rem
      
      @include mobile-tablet
        flex-direction: column
      
      > .left, & > .right
        width: calc(50% - .15rem)
        
        @include mobile-tablet
          width: 100%
      
        > div
          margin-bottom: .3rem
          
    > .footer
      position: relative
      
      > .wrapper
        display: flex
        justify-content: flex-start
        align-items: center
        margin-bottom: 1.5rem
        
        > div
          width: auto
          
      > p
        margin-left: 1.5rem
        
      > .btn
        margin-top: 1rem
        width: 12%
        
        @include tablet
          width: 19%
          
        @include mobile
          width: 35%
        
