@import "vars"

.Page
  position: relative
  width: 100%
  height: auto

  > .header
    position: fixed
    z-index: 3
    width: 100%
    height: auto
    top: 0

  > .content
    position: relative
    z-index: 2
    width: 100%
    height: auto
    
    > .loading
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 112vh
      background: radial-gradient(circle, $dark-2, $dark)

  > .footer
    position: relative
    z-index: 1
    width: 100%
    height: auto

  &.withHeaderStatic
    > .content
      margin-top: $headerHeight

      @include tablet
        margin-top: $headerHeightTablet

      @include mobile
        margin-top: $headerHeightMobile
