@import "vars"

.BlogResults
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > h3 > span
      font-size: 1.6rem
    
    > .list
      position: relative
      display: grid
      grid-template-columns: repeat(3, calc(98% / 3))
      grid-row-gap: 1.5rem
      grid-column-gap: 1%
      
      @include mobile-tablet
        grid-template-columns: 100%
