@import "vars"

$transitionSpeed: .4s

.ContactForm
  position: relative
  width: 100%
  height: 100%

  > .layout
    position: relative
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-start

    @include mobile
      flex-direction: column

    > .left
      width: 35%

      @include mobile-tablet
        padding-right: 0

      @include tablet
        width: 30%

      @include mobile
        width: 100%
        display: flex
        justify-content: space-around

      > .item
        display: flex
        flex-direction: column
        align-items: center

        > .avatar
          position: relative
          width: 10rem
          height: 10rem
          border-radius: 50%

          > .border
            position: absolute
            top: 0
            border-radius: 50%
            box-shadow: 0 0 0 .3rem rgb(255, 255, 255, .5) inset
            width: 100%
            height: 100%

        > .info
          position: relative

      > .noBrokerContainer
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

        > .logo
          width: 50%

    > .right
      width: 65%

      @include mobile
        width: 100%

      > .fields
        position: relative

        > div
          margin-bottom: .4rem

      > .footer
        display: flex
        flex-direction: column
        align-items: flex-start

        @include mobile
          align-items: center

  .social
    display: flex
    justify-content: center
