@import "vars"

.Navigation
  position: relative
  display: flex
  width: auto
  max-width: 100%
  height: 100%

  @include desktop
    height: 150%
    top: -25%

  @include mobile-tablet
    flex-direction: column
    width: 100%
    height: auto
    max-height: 100%

  .item
    position: relative
    display: flex
    align-items: center
    height: 100%
    
    @include mobile-tablet
      flex-direction: column
      justify-content: center
      width: 100%
      height: auto
      padding-top: 1.5rem
      padding-bottom: 1.5rem
      border-bottom: 1px solid $dark-3

      .name
        position: relative
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

    > .underscore
      position: absolute
      display: flex
      justify-content: center
      width: 100%
      height: 1px
      bottom: 0

      &:after
        content: ""
        position: relative
        width: 0
        background-color: $white
        transition: .2s

  > a, & > .item
    &:not(:last-child)
      @include desktop
        margin-right: 2rem
        
    &:not(.active):hover, &.active
      .underscore:after
        width: 100%
        transition: .2s
