@import "vars"

.NewsPostScene
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 12rem
        padding-right: 12rem
  
      @include tablet
        padding-left: 4.5rem
        padding-right: 4.5rem
  
      @include mobile
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
      
      > .searchBar
        position: relative
        
        @include mobile-tablet
          padding-right: 1rem
    
    > .section2
      position: relative
      width: 100%
  
      @include tablet
        padding-left: 5.5rem
        padding-right: 5.5rem
        
      @include mobile
        padding-left: 3rem
        padding-right: 3rem
      
      > .search
        position: relative
        width: 60%
        z-index: 2
        
        @include mobile-tablet
          width: 100%
          
      > .backButton
        position: relative
        display: inline-flex
        align-items: center
        
        > *
          display: inline-block
      
        @include mobile-tablet
          right: 2rem
      
        > .icon
          width: 2rem
          height: 2rem
          border-radius: 50%
          background: $red
          display: flex
          align-items: center
          justify-content: center
          
    > .section3
      @include tablet
        padding-left: 1.5rem
        padding-right: 1.5rem
        
      @include mobile
        padding-left: 1rem
        padding-right: 1rem
        
    > .section4
      width: calc(100% - 9.5rem)
      position: relative
      height: auto
      background: $white
      padding: 0 10.15rem 8rem
      box-sizing: border-box
      
      > h2
        padding-left: .35rem
        
      @include desktopSmall
        padding-left: 5.15rem
        padding-right: 5.15rem
  
      @include tablet
        width: 100%
        padding: 0 1.5rem 4rem
        
        > h2
          padding-left: 4rem
  
      @include mobile
        width: 100%
        padding: 0 0 4rem
        
        > h2
          padding-left: 3rem
      
