@import "vars"

.SpecialOffer
  background-color: $red-2
  border-top-left-radius: .5rem
  padding-left: 3%
  padding-right: 3%

  &::before
    content: ''
    position: absolute
    bottom: -0.6rem
    left: 0
    width: 0
    height: 0
    border-top: 0 solid transparent
    border-right: .6rem solid $darkRed
    border-bottom: .6rem solid transparent
    border-left: 0 solid transparent
