@import "vars"

.Post
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: calc(100% - 9.5rem)
    
    @include mobile-tablet
      width: 100%
    
    > .section1
      position: relative
      width: 100%
      display: flex
      justify-content: space-between
      margin-bottom: 3rem
      
      @include mobile-tablet
        display: block
      
      > .left
        width: 55%
        
        @include mobile-tablet
          width: 100%
          padding: 0 4rem
          box-sizing: border-box
          height: 37rem
          margin-bottom: 3rem
          
        @include mobile
          padding: 0 1rem
          height: 25rem
        
        > .image
          width: 100%
          height: 100%
        
      > .right
        width: 44%
        background-color: $red-3
        display: flex
        align-items: flex-end
        padding: 0 1.5rem 3rem
        box-sizing: border-box
  
        @include mobile-tablet
          width: 100%
          padding-top: 5rem
          padding-left: 4rem
          padding-right: 4rem
          
        @include mobile
          padding-left: 2rem
          padding-right: 2rem
        
    > .section2
      position: relative
      width: 100%
      
      > .content
        margin-bottom: 5rem
        box-sizing: border-box
        
        @include tablet
          padding: 0 4rem
          
          
        @include mobile
          padding: 0 2rem
        
        > p
          margin-bottom: 1.5rem
          
      > .author
        margin-bottom: 4rem
        
        > h3
          margin-bottom: 1.5rem
          box-sizing: border-box
          
          @include tablet
            padding: 0 4rem
            
            
          @include mobile
            padding: 0 2rem
            
        > .wrapper
          width: 80%
