@import "vars"

.FeaturedOfferings
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .heading
      position: relative
      display: flex
      align-items: center
      padding: 0 15%

      @include tablet
        padding-left: 5rem
        padding-right: 5rem

      @include mobile
        padding-left: 2rem
        padding-right: 2rem

      > h3
        width: 30%

        @include tablet
          width: 35%

        @include mobile
          width: 50%

      > .line
        width: 100%
        height: 1px
        background: $black

        @include tablet
          width: 65%

        @include mobile
          width: 50%

    > .carousel
      position: relative
      width: 100%
