@import "vars"

.ContactCard
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    display: flex
    margin-right: .5rem
    
    @include mobile-tablet
      width: 100%
    
    > .imageWrapper
      position: absolute
      width: 100%
      height: 100%
      display: flex
      justify-content: flex-end
      background: radial-gradient(circle, $lightGrey-2, $grey)
    
      > .image
        position: relative
        height: 100%
        margin-right: -15%
        text-align: right
    
    > .line
      position: absolute
      width: 100%
      height: 1px
      background: $black
      bottom: -1rem
    
    > .wrapper
      position: relative
      width: 100%
      display: flex
      flex-direction: column
      justify-content: space-between
  
  &.full
    width: 100%
    margin-bottom: 0
    height: 14.5rem
    
    > .layout
      height: 100%
      
      > .wrapper
        padding: 1.2rem 4rem 0
        
      .image
        margin-right: 0
