@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      display: flex
      margin-bottom: 4rem
      padding-left: 4.5rem
      box-sizing: border-box
      
      @include mobile-tablet
        flex-direction: column
        padding: 0
        margin-bottom: 2rem
      
      > .left
        width: 50%
        padding: 3rem 4.5rem 3.5rem
        box-sizing: border-box
        background: $dark-5
  
        @include mobile-tablet
          width: 100%

        @include mobile-tablet
          > p
            margin-top: 0
          
        @include mobile
          
      > .right
        width: 50%
  
        @include mobile-tablet
          width: 100%
          margin-bottom: 2rem

        > .image
          width: 100%
          height: 29rem
          
          @include mobile-tablet
            height: 27rem
            
            
    > .section2
      display: flex
      justify-content: space-between
      padding: 0 4.5rem 5rem
      box-sizing: border-box
      
      @include mobile-tablet
        display: block
        padding-bottom: 0
        
      @include mobile
        padding: 0 1.5rem
      
      > .item
        width: calc(100% / 3)
        padding-right: 2rem
        box-sizing: border-box
        
        @include mobile-tablet
          width: 100%
          margin-bottom: 4rem
          padding-right: 0
          
          &:last-of-type
            margin-bottom: 0
        
        > .heading
          display: flex
          align-items: center
          margin-bottom: 2rem
          
          > .line
            width: .3rem
            height: 2.5rem
            background-color: $red-2
            margin-right: 1.5rem
  
        > .i
          position: relative
          display: flex
          width: 100%
          margin-left: .5rem
          margin-bottom: .5rem
          
          @include mobile-tablet
            margin-left: 0
            align-items: center
    
          > .icon
            position: relative
            width: .45rem
            height: .45rem
            padding: .2rem
            transform: rotate(270deg)
            border-radius: 50%
            background: $red-2
            display: flex
            align-items: center
            justify-content: center
            margin-right: .5rem
            margin-top: .25rem
            
            @include mobile-tablet
              margin-top: 0
            
            @include mobile
              width: .75rem
              height: .75rem
              padding: .35rem
    
          > p
            width: calc(100% - 1.6rem)
    
    > .section3
      position: relative
      width: 100%
  
