@import "vars"

.InformationBlock
  position: relative
  width: 100%
  margin-bottom: 5rem

  > .layout
    position: relative
    width: 100%
            
    > .section1
      position: relative

      > .subTitle
            margin-left: 4.5rem
            color: #5D6D80

            @include mobile
                margin-left: 2rem

      > .topImage
          width: 100%
          height: 600px
          position: relative

          @include mobile
            height: 100%
            display: flex
            flex-direction: column-reverse

          > .waterMark
              position: absolute
              bottom: 0
              width: 100%
              display: flex

              @include mobile
                flex-direction: column
                position: static

              > .left
                  padding: 0 3rem
                  box-sizing: border-box
                  background: $dark-5
                  display: flex
                  align-items: center

              > .right
                  width: 800px

                  @include mobile-tablet
                    width: 1000px

                  @include mobile
                    width: 100%
                    height: 100px
                    background: $red

                  > picture
                      > img
                        @include mobile
                            object-fit: contain

    > .section2
        padding: 3rem 0 0 4.2rem

        @include mobile
            padding: 3rem 1rem 0 3.5rem

        > .subTitle
            color: #5D6D80 

        > .list
            padding-top: 4rem
            display: flex
            flex-direction: column
            align-items: center
            position: relative

            > .circle
                position: absolute
                top: 0
                left: calc(40% - 15px)
                width: 30px
                height: 30px
                border-radius: 50%
                background: $greyBlue

                @include mobile
                    left: calc(30% - 15px)

                &::after
                    position: absolute
                    content: ""
                    top: 30px
                    height: 40px
                    width: 1px
                    left: 15px
                    background: $greyBlue

            > .block
                width: 100%
                display: flex
                align-items: center

                > .iconContainer
                    width: 40%
                    padding-right: 2rem
                    box-sizing: border-box
                    display: flex
                    justify-content: flex-end

                    @include mobile
                        width: 30%

                    > .icon
                        width: 100px

                > .textContainer
                    width: 60%
                    min-height: 100px
                    padding-left: 4rem
                    box-sizing: border-box
                    display: flex
                    justify-content: space-between
                    align-items: center
                    border: 1px solid $greyBlue
                    border-right: none

                    &:nth-of-type(1)
                        height: 20px

                    @include mobile
                        width: 70%
                        padding-left: 1rem

                    > div .title
                        font-size: 1.8rem
                    
                    > div .subText
                        color: $grey-3

                    > .icon
                        min-width: 50px
                        min-height: 50px
                
                        