@import "vars"

$transitionSpeed: .4s

.UnitsList
  position: relative
  width: 100%
  height: 100%

  > .layout
    position: relative
    width: 100%

    > h3
      padding-left: 1.5rem
      box-sizing: border-box

      @include mobile
        padding-left: 0

    > .units
      position: relative

      > .unit
        border-bottom: 1px solid $lightGrey-2

        > .wrapper
          display: flex
          padding-left: 3.5rem
          box-sizing: border-box
          position: relative

          @include tablet
            padding-left: 2.5rem

          @include mobile
            padding-left: 1rem

            &:focus
              > .line
                opacity: 1
                transition: .2s

          &:hover
            > .line, & > .actions
              opacity: 1
              transition: .2s

          > .line
            position: absolute
            top: 0
            left: 0
            width: .3rem
            height: 7rem
            background: $red-2
            opacity: 0
            transition: .2s

          > .lineSpecial
            top: -.3rem
            height: 8.3rem

          > .img
            width: 9rem
            height: 7rem
            position: relative
            background: $lightGrey-2

            > .specialOffer
              position: absolute
              top: -1.5rem
              left: 50%
              transform: translateX(-50%)
              width: 100%
              text-align: center

          > .data
            display: flex
            align-items: flex-start
            padding-left: 2.5rem
            box-sizing: border-box
            width: calc(100% - 9rem)

            @include tablet
              padding-left: 2rem

            @include mobile
              padding-left: 1rem

            > .col
              width: 30%

              @include mobile-tablet
                width: 28%

          > .actions
            position: absolute
            opacity: 0
            transition: .2s
            bottom: 30%
            right: 5rem

            @include tablet
              right: 1.5rem
              opacity: 1

            @include mobile
              opacity: 1
              align-items: center
              top: 2.5rem
              right: 1.5rem
              bottom: auto

            > .view
              display: flex
              align-items: center

              > .icon
                width: 2rem
                height: 2rem
                border-radius: 50%
                background: $red-2
                display: flex
                align-items: center
                justify-content: center

                @include mobile
                  > div
                    margin-top: -0.3rem
                    margin-left: 2px

        > .wrapperSpecial
          padding-top: 1rem

    > .loadMore
      border-bottom: 1px solid $lightGrey-2





