@import "vars"

.SearchScene
  position: relative
  width: 100%
  height: auto
  background: $white

  > .layout
    position: relative

    > .searchBar
      position: relative
      width: 100%

      @include mobile-tablet
        padding-left: 0
        padding-right: 0

    > .content
      position: relative
      width: 100%
      display: flex
      align-items: flex-start
      justify-content: space-between

      > .sidebar
        position: relative
        width: 29%
        min-height: 90vh

      > .results
        position: relative
        width: 68%

        @include mobile
          width: 100%

    > .disclaimer
      text-align: justify

      @include mobile-tablet
        padding-left: 1rem
        padding-right: 1rem

    > .filterButtonContainer
      position: sticky
      z-index: 2
      bottom: 0
      width: 100%
      padding-top: 1.5rem
      padding-bottom: 1.5rem

      > .layer
        position: absolute
        z-index: 0
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(to top, $white, rgba($white, 0))

      > .filterButton
        background-color: $lightRed
        border-color: $lightRed
