@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .top
      position: relative
      display: flex
  
      @include mobile-tablet
        display: block
  
      > .left
        width: 50%
        position: relative
        padding: .45rem 2.3rem 0 4rem
        box-sizing: border-box
    
        @include mobile-tablet
          width: 100%
          padding-right: 5rem
    
        @include mobile
          padding-right: 2rem
          padding-left: 2rem
    
        > p
          margin-bottom: 1.5rem
  
      > .right
        width: 50%
        padding: 0 5.5rem 0 3rem
        box-sizing: border-box
    
        @include mobile-tablet
          width: 100%
          padding-left: 4rem
          padding-right: 5rem
    
        @include mobile
          padding-left: 2rem
          padding-right: 2rem
    
        > h3
          margin-bottom: 1.4rem
    
        > .list
          position: relative
      
          > p
            position: relative
            margin-bottom: 1.5rem
      
    > .bottom
      position: relative
      width: 100%
      margin-top: 4rem

