@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
      display: flex
      margin-bottom: 4rem
      box-sizing: border-box
      
      @include mobile-tablet
        flex-direction: column-reverse
        padding: 0
        margin-bottom: 2rem
      
      > .left
        width: 50%
        padding-right: 5rem
        padding-left: 2rem
        box-sizing: border-box
        margin-top: 1.5rem
  
        @include mobile-tablet
          width: 100%
          padding: 0 4rem
          
          margin-top: 0
          
        @include mobile
          padding: 0 2rem
          
        p
          margin-bottom: 1.5rem
        
          
      > .right
        width: 50%
  
        @include mobile-tablet
          width: 100%
          padding: .5rem 4rem 0 4rem
          box-sizing: border-box

        @include mobile
          padding-left: 2rem
          padding-right: 2rem
  
        > .image
          position: relative
          width: 100%
          height: 29rem
          
          > .icon
            position: absolute
            width: 10rem
            left: 2rem
            top: 0
            
            @include tablet
              left: 4rem
    
          @include mobile-tablet
            height: 27rem
        
