@import "vars"

.SearchFilters
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .resetButton
      position: relative
      padding: .3rem 1rem .35rem
      border-radius: calc(#{ $elementsRadius } / 4)
      background: $red
      transition: .5s
      will-change: padding, background
      
      > p
        color: $white
        transition: .5s
  
      &.disabled
        padding: .3rem 0 .35rem
        background: transparent
        pointer-events: none
        user-select: none
        transition: .5s
        will-change: padding, background
  
        > p
          color: $lightGrey
          transition: .5s

    > .form
      position: relative
      width: 100%

      > .divider
        position: relative
        width: 100%
        height: 2px
        background: $black
