@import "vars"

.Banner
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
  
    
    > .image
      width: 100%
      height: 29rem

      @include mobile-tablet
        height: 27rem
        
    > .secondaryLogo
      position: absolute
      height: 5rem
      bottom: 2rem
      right: 2rem
      
    > .wrapper
      position: absolute
      top: 0
      left: 4rem

      @include mobile-tablet
        width: auto
        
      @include mobile
        left: 2rem
        
      > .secondaryLogo
        position: absolute
        bottom: 0
        left: 2rem
        
      > .logo
        width: 10.5rem

        @include mobile-tablet
          width: 100%
          min-width: 11rem
        
      > .tag
        margin-top: .35rem
        width: 10.5rem
        background-color: $greyBlue
        padding: .5rem .5rem .8rem 1rem
        box-sizing: border-box
        border-bottom: .4rem solid $red-3
        
        > .secondaryTitle
          margin-bottom: .2rem
          
          @include mobile-tablet
            margin-bottom: .4rem
        
        p
          line-height: 1.1rem

        @include mobile-tablet
          width: 100%
          padding: .8rem 1.5rem 1.8rem 1.5rem
          border-bottom-width: .5rem
          min-width: 11rem
          
          p
            line-height: 1.3rem
          
        @include mobile
          p
            line-height: 1.4rem
            
        > .lineHeightNormal
          line-height: 1.5rem
          
          @include mobile-tablet
            line-height: 2.25rem
         
     
          
         
