@import "vars"

.InformationBlock
  position: relative
  width: 100%

  > .layout
    position: relative
    width: 100%
    
    > .header
      padding: 0 4.5rem 3rem
      box-sizing: border-box
  
      @include mobile-tablet
        padding-left: 3.5rem
        padding-right: 3.5rem
    
        @include mobile
          padding-left: 1.5rem
          padding-right: 1.5rem
    
    > .section1
      position: relative
      width: 100%
      
      > .image
        width: 100%
        height: 29rem
  
        @include mobile-tablet
          height: 27rem
          
      
      
      
