@import "vars"

.Results
  position: relative
  height: auto

  > .layout
    position: relative

    > h3 > span
      font-size: 1.6rem

    > .list
      position: relative
      display: grid
      grid-template-columns: repeat(2, calc(50% + -0.5rem))
      grid-gap: 1rem

      @include mobile-tablet
        grid-template-columns: 100%
