@import "vars"

.ContactScene
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > .section1
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 12rem
        padding-right: 12rem
  
      @include tablet
        padding-left: 4.5rem
        padding-right: 4.5rem
  
      @include mobile
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
      
      > .searchBar
        position: relative
        width: 100%
  
        @include mobile-tablet
          padding-right: 1rem
        
    > .section2
      position: relative
      width: 100%
  
      @include desktopSmall
        padding-left: 9rem
        padding-right: 7rem
        
      @include mobile-tablet
        padding-left: $contentHorizontalPaddingMobile
        padding-right: $contentHorizontalPaddingMobile
        padding-bottom: 3rem
        
      
      > h2
        margin-left: 4.5rem
  
        @include mobile-tablet
          margin-left: 3.5rem
          
        @include mobile
          margin-left: 1.5rem
          
      > p
        padding: 0 6.5rem 0 4.5rem
        box-sizing: border-box
  
        @include mobile-tablet
          padding: 0 3.5rem
  
        @include mobile
          padding: 0 1.5rem
          
      > .map
        width: 100%
        height: 29rem
        margin: 2.5rem 0 1rem
        
    > .section3
      padding: 0 18.5rem 3rem
      box-sizing: border-box
  
      @include desktopSmall
        padding-left: 13.5rem
        padding-right: 13.5rem
  
      @include tablet
        padding-left: 5.5rem
        padding-right: 5.5rem
        
      @include mobile
        padding-left: 3.5rem
        padding-right: 3.5rem
      
      
    > .section4
      padding: 0 18.5rem 4rem
      box-sizing: border-box
  
      @include desktopSmall
        padding-left: 13.5rem
        padding-right: 13.5rem
  
      @include tablet
        padding-left: 5.5rem
        padding-right: 5.5rem
  
  
      @include mobile
        padding-left: 3.5rem
        padding-right: 0
      
